South Australian Crime Data Vs Median Property Prices (BY SUBURB)

In [16]:
!pip install datetime

Requirement already satisfied: datetime in /Users/annabelcheong/opt/anaconda3/envs/PythonData/lib/python3.6/site-packages (4.3)
Requirement already satisfied: pytz in /Users/annabelcheong/opt/anaconda3/envs/PythonData/lib/python3.6/site-packages (from datetime) (2020.1)
Requirement already satisfied: zope.interface in /Users/annabelcheong/opt/anaconda3/envs/PythonData/lib/python3.6/site-packages (from datetime) (5.2.0)
Requirement already satisfied: setuptools in /Users/annabelcheong/opt/anaconda3/envs/PythonData/lib/python3.6/site-packages (from zope.interface->datetime) (47.1.1.post20200604)

In [17]:
#Dependencies
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
from datetime import datetime as dt

In [18]:
## MERGE 5 financial year csvs (July 2014 to June 2020)
# 2015-16_crime.csv
# 2016-17_crime.csv
# 2017-18_crime.csv
# 2018-19_crime.csv
# 2019-20_crime.csv

#Read csv "2015-16_crime.csv"
y15_crime=pd.read_csv("Resources/2015-16_crime.csv")
y15_crime.head()

#Read csv "2016-17_crime.csv"
y16_crime=pd.read_csv("Resources/2016-17_crime.csv")
y16_crime.head()

#Read csv "2017-18_crime.csv"
y17_crime=pd.read_csv("Resources/2017-18_crime.csv")
y17_crime.head()

#Read csv "2018-19_crime.csv"
y18_crime=pd.read_csv("Resources/2018-19_crime.csv")
y18_crime.head()

#Read csv "2019-20_crime.csv"
y19_crime=pd.read_csv("Resources/2019-20_crime.csv")
y19_crime.head()

,Reported Date,Suburb - Incident,Postcode - Incident,Offence Level 1 Description,Offence Level 2 Description,Offence Level 3 Description,Offence count
0,01/07/2019,ADELAIDE,5000,OFFENCES AGAINST PROPERTY,FRAUD DECEPTION AND RELATED OFFENCES,Obtain benefit by deception,1
1,01/07/2019,ADELAIDE,5000,OFFENCES AGAINST PROPERTY,FRAUD DECEPTION AND RELATED OFFENCES,"Other fraud, deception and related offences",1
2,01/07/2019,ADELAIDE,5000,OFFENCES AGAINST PROPERTY,PROPERTY DAMAGE AND ENVIRONMENTAL,Graffiti,1
3,01/07/2019,ADELAIDE,5000,OFFENCES AGAINST PROPERTY,PROPERTY DAMAGE AND ENVIRONMENTAL,Other property damage and environmental,2
4,01/07/2019,ADELAIDE,5000,OFFENCES AGAINST PROPERTY,THEFT AND RELATED OFFENCES,Other theft,6

In [19]:
#Concatonate all the 5 csv files for 5 consecutive years 
y15_16_crime=pd.concat([y15_crime, y16_crime], sort=False)
y15_16_crime

y15_16_17_crime=pd.concat([y15_16_crime, y17_crime], sort=False)
y15_16_17_crime

y15_16_17_18_crime=pd.concat([y15_16_17_crime, y18_crime], sort=False)
y15_16_17_18_crime

y15_16_17_18_19_crime=pd.concat([y15_16_17_18_crime, y19_crime], sort=False)
y15_16_17_18_19_crime

#Crime Data Merged, dataframe: "crime_data"
crime_data=y15_16_17_18_19_crime
crime_data

,Reported Date,Suburb - Incident,Postcode - Incident,Offence Level 1 Description,Offence Level 2 Description,Offence Level 3 Description,Offence count
0,1/07/2015,ABERFOYLE PARK,5159,OFFENCES AGAINST PROPERTY,SERIOUS CRIMINAL TRESPASS,SCT - Non Residence,2.0
1,1/07/2015,ADELAIDE,5000,OFFENCES AGAINST PROPERTY,FRAUD DECEPTION AND RELATED OFFENCES,Obtain benefit by deception,1.0
2,1/07/2015,ADELAIDE,5000,OFFENCES AGAINST PROPERTY,PROPERTY DAMAGE AND ENVIRONMENTAL,Other property damage and environmental,2.0
3,1/07/2015,ADELAIDE,5000,OFFENCES AGAINST PROPERTY,THEFT AND RELATED OFFENCES,Other theft,9.0
4,1/07/2015,ADELAIDE,5000,OFFENCES AGAINST PROPERTY,THEFT AND RELATED OFFENCES,Theft from motor vehicle,1.0
...,...,...,...,...,...,...,...
95697,30/06/2020,WEST LAKES,5021,OFFENCES AGAINST PROPERTY,SERIOUS CRIMINAL TRESPASS,SCT - Residence,1.0
95698,30/06/2020,WHYALLA NORRIE,5608,OFFENCES AGAINST PROPERTY,THEFT AND RELATED OFFENCES,Theft from shop,1.0
95699,30/06/2020,WOODVILLE NORTH,5012,OFFENCES AGAINST THE PERSON,ACTS INTENDED TO CAUSE INJURY,Serious Assault not resulting in injury,2.0
95700,30/06/2020,NaN,NaN,OFFENCES AGAINST PROPERTY,SERIOUS CRIMINAL TRESPASS,SCT - Non Residence,1.0
95701,30/06/2020,NaN,NaN,OFFENCES AGAINST PROPERTY,THEFT AND RELATED OFFENCES,Receive or handle proceeds of crime,1.0

In [20]:
#Drop NaN rows
crime_data=crime_data.dropna()
crime_data

,Reported Date,Suburb - Incident,Postcode - Incident,Offence Level 1 Description,Offence Level 2 Description,Offence Level 3 Description,Offence count
0,1/07/2015,ABERFOYLE PARK,5159,OFFENCES AGAINST PROPERTY,SERIOUS CRIMINAL TRESPASS,SCT - Non Residence,2.0
1,1/07/2015,ADELAIDE,5000,OFFENCES AGAINST PROPERTY,FRAUD DECEPTION AND RELATED OFFENCES,Obtain benefit by deception,1.0
2,1/07/2015,ADELAIDE,5000,OFFENCES AGAINST PROPERTY,PROPERTY DAMAGE AND ENVIRONMENTAL,Other property damage and environmental,2.0
3,1/07/2015,ADELAIDE,5000,OFFENCES AGAINST PROPERTY,THEFT AND RELATED OFFENCES,Other theft,9.0
4,1/07/2015,ADELAIDE,5000,OFFENCES AGAINST PROPERTY,THEFT AND RELATED OFFENCES,Theft from motor vehicle,1.0
...,...,...,...,...,...,...,...
95695,30/06/2020,WESTBOURNE PARK,5041,OFFENCES AGAINST PROPERTY,SERIOUS CRIMINAL TRESPASS,SCT - Non Residence,1.0
95696,30/06/2020,WEST HINDMARSH,5007,OFFENCES AGAINST PROPERTY,PROPERTY DAMAGE AND ENVIRONMENTAL,Other property damage and environmental,1.0
95697,30/06/2020,WEST LAKES,5021,OFFENCES AGAINST PROPERTY,SERIOUS CRIMINAL TRESPASS,SCT - Residence,1.0
95698,30/06/2020,WHYALLA NORRIE,5608,OFFENCES AGAINST PROPERTY,THEFT AND RELATED OFFENCES,Theft from shop,1.0
95699,30/06/2020,WOODVILLE NORTH,5012,OFFENCES AGAINST THE PERSON,ACTS INTENDED TO CAUSE INJURY,Serious Assault not resulting in injury,2.0

In [21]:
#Check unique descriptionws for 'Offence Level 1 Description'
crime_data["Offence Level 1 Description"].unique()

array(['OFFENCES AGAINST PROPERTY', 'OFFENCES AGAINST THE PERSON'],
      dtype=object)

In [22]:
#Removing rows which contains "OFFENCES AGAINST THE PERSON" in Offence Level 1 Description

crime_data = crime_data[~crime_data["Offence Level 1 Description"].isin(['OFFENCES AGAINST THE PERSON'])]
crime_data

,Reported Date,Suburb - Incident,Postcode - Incident,Offence Level 1 Description,Offence Level 2 Description,Offence Level 3 Description,Offence count
0,1/07/2015,ABERFOYLE PARK,5159,OFFENCES AGAINST PROPERTY,SERIOUS CRIMINAL TRESPASS,SCT - Non Residence,2.0
1,1/07/2015,ADELAIDE,5000,OFFENCES AGAINST PROPERTY,FRAUD DECEPTION AND RELATED OFFENCES,Obtain benefit by deception,1.0
2,1/07/2015,ADELAIDE,5000,OFFENCES AGAINST PROPERTY,PROPERTY DAMAGE AND ENVIRONMENTAL,Other property damage and environmental,2.0
3,1/07/2015,ADELAIDE,5000,OFFENCES AGAINST PROPERTY,THEFT AND RELATED OFFENCES,Other theft,9.0
4,1/07/2015,ADELAIDE,5000,OFFENCES AGAINST PROPERTY,THEFT AND RELATED OFFENCES,Theft from motor vehicle,1.0
...,...,...,...,...,...,...,...
95694,30/06/2020,WARRADALE,5046,OFFENCES AGAINST PROPERTY,THEFT AND RELATED OFFENCES,Other theft,2.0
95695,30/06/2020,WESTBOURNE PARK,5041,OFFENCES AGAINST PROPERTY,SERIOUS CRIMINAL TRESPASS,SCT - Non Residence,1.0
95696,30/06/2020,WEST HINDMARSH,5007,OFFENCES AGAINST PROPERTY,PROPERTY DAMAGE AND ENVIRONMENTAL,Other property damage and environmental,1.0
95697,30/06/2020,WEST LAKES,5021,OFFENCES AGAINST PROPERTY,SERIOUS CRIMINAL TRESPASS,SCT - Residence,1.0
95698,30/06/2020,WHYALLA NORRIE,5608,OFFENCES AGAINST PROPERTY,THEFT AND RELATED OFFENCES,Theft from shop,1.0

In [23]:
#Check unique descriptionws for 'Offence Level 2 Description'
crime_data["Offence Level 2 Description"].unique()

array(['SERIOUS CRIMINAL TRESPASS',
       'FRAUD DECEPTION AND RELATED OFFENCES',
       'PROPERTY DAMAGE AND ENVIRONMENTAL', 'THEFT AND RELATED OFFENCES'],
      dtype=object)

In [24]:
#Check unique descriptions for 'Offence Level 3 Description'
crime_data["Offence Level 3 Description"].unique()
print(crime_data["Offence Level 3 Description"].value_counts())
#1. Other theft : Description: Theft except motor vehicles
#2. Other property damage and environmental
#3. Theft from motor vehicle
#4. SCT - Residence
#5. Theft/Illegal Use of MV
# - DELETE: Theft from shop
# - DELETE: SCT - Non Residence

#Removing rows which are not intended to be analysed in Offence Level 3 Description
#List out categories keeping in '.isin'
crime_data = crime_data[crime_data["Offence Level 3 Description"].isin(["Other theft","Other property damage and environmental","Theft from motor vehicle","SCT - Residence","Theft/Illegal Use of MV"])]
print(crime_data)
print(crime_data["Offence Level 3 Description"].value_counts())

Other theft                                    90985
Other property damage and environmental        75303
Theft from motor vehicle                       41808
SCT - Residence                                36044
Theft from shop                                35125
SCT - Non Residence                            21139
Theft/Illegal Use of MV                        16883
Other unlawful entry with intent               15091
Obtain benefit by deception                    11548
Graffiti                                        8722
Property damage by fire or explosion            7044
Receive or handle proceeds of crime             6813
Other fraud, deception and related offences     3358
Name: Offence Level 3 Description, dtype: int64
      Reported Date Suburb - Incident Postcode - Incident  \
2         1/07/2015          ADELAIDE                5000
3         1/07/2015          ADELAIDE                5000
4         1/07/2015          ADELAIDE                5000
8         1/07/2015          ALBERTON                5014
9         1/07/2015       ALBERT PARK                5014
...             ...               ...                 ...
95692    30/06/2020   WALKLEY HEIGHTS                5098
95693    30/06/2020    WANDEARAH EAST                5523
95694    30/06/2020         WARRADALE                5046
95696    30/06/2020    WEST HINDMARSH                5007
95697    30/06/2020        WEST LAKES                5021

      Offence Level 1 Description        Offence Level 2 Description  \
2       OFFENCES AGAINST PROPERTY  PROPERTY DAMAGE AND ENVIRONMENTAL
3       OFFENCES AGAINST PROPERTY         THEFT AND RELATED OFFENCES
4       OFFENCES AGAINST PROPERTY         THEFT AND RELATED OFFENCES
8       OFFENCES AGAINST PROPERTY          SERIOUS CRIMINAL TRESPASS
9       OFFENCES AGAINST PROPERTY         THEFT AND RELATED OFFENCES
...                           ...                                ...
95692   OFFENCES AGAINST PROPERTY         THEFT AND RELATED OFFENCES
95693   OFFENCES AGAINST PROPERTY         THEFT AND RELATED OFFENCES
95694   OFFENCES AGAINST PROPERTY         THEFT AND RELATED OFFENCES
95696   OFFENCES AGAINST PROPERTY  PROPERTY DAMAGE AND ENVIRONMENTAL
95697   OFFENCES AGAINST PROPERTY          SERIOUS CRIMINAL TRESPASS

                   Offence Level 3 Description  Offence count
2      Other property damage and environmental            2.0
3                                  Other theft            9.0
4                     Theft from motor vehicle            1.0
8                              SCT - Residence            1.0
9                                  Other theft            1.0
...                                        ...            ...
95692                 Theft from motor vehicle            2.0
95693                              Other theft            1.0
95694                              Other theft            2.0
95696  Other property damage and environmental            1.0
95697                          SCT - Residence            1.0

[261023 rows x 7 columns]
Other theft                                90985
Other property damage and environmental    75303
Theft from motor vehicle                   41808
SCT - Residence                            36044
Theft/Illegal Use of MV                    16883
Name: Offence Level 3 Description, dtype: int64

Binning by Financial Year

In [25]:
#Check dtype info
#crime_data.info()
#Reported Date column has dtype:object. Need to convert to a dtype: datetime64[ns]

#Converts Reported Date column dtype from 'object' to 'datetime65[ns]'. Create a new column 'Formatted Date' to save the date in required format (for binning)
crime_data["Formatted Date"]=pd.to_datetime(crime_data["Reported Date"],format="%d/%m/%Y")
#crime_data.info()

###### Binning each row (crime) into the specific financial year #### 
#Ensure the start and end dates cover the range of all the data. 
start = '2014/6/30'
end='2021/6/30'

# Create bins
#Note: closed=right indicates the start date (left) is not included, but the end date (right) is included.
bins = pd.date_range(start=start, end=end, normalize=True, freq=pd.offsets.MonthEnd(12), closed='right')
crime_data["finan_yr"] = pd.cut(crime_data["Formatted Date"], bins=bins)
crime_data

,Reported Date,Suburb - Incident,Postcode - Incident,Offence Level 1 Description,Offence Level 2 Description,Offence Level 3 Description,Offence count,Formatted Date,finan_yr
2,1/07/2015,ADELAIDE,5000,OFFENCES AGAINST PROPERTY,PROPERTY DAMAGE AND ENVIRONMENTAL,Other property damage and environmental,2.0,2015-07-01,"(2015-06-30, 2016-06-30]"
3,1/07/2015,ADELAIDE,5000,OFFENCES AGAINST PROPERTY,THEFT AND RELATED OFFENCES,Other theft,9.0,2015-07-01,"(2015-06-30, 2016-06-30]"
4,1/07/2015,ADELAIDE,5000,OFFENCES AGAINST PROPERTY,THEFT AND RELATED OFFENCES,Theft from motor vehicle,1.0,2015-07-01,"(2015-06-30, 2016-06-30]"
8,1/07/2015,ALBERTON,5014,OFFENCES AGAINST PROPERTY,SERIOUS CRIMINAL TRESPASS,SCT - Residence,1.0,2015-07-01,"(2015-06-30, 2016-06-30]"
9,1/07/2015,ALBERT PARK,5014,OFFENCES AGAINST PROPERTY,THEFT AND RELATED OFFENCES,Other theft,1.0,2015-07-01,"(2015-06-30, 2016-06-30]"
...,...,...,...,...,...,...,...,...,...
95692,30/06/2020,WALKLEY HEIGHTS,5098,OFFENCES AGAINST PROPERTY,THEFT AND RELATED OFFENCES,Theft from motor vehicle,2.0,2020-06-30,"(2019-06-30, 2020-06-30]"
95693,30/06/2020,WANDEARAH EAST,5523,OFFENCES AGAINST PROPERTY,THEFT AND RELATED OFFENCES,Other theft,1.0,2020-06-30,"(2019-06-30, 2020-06-30]"
95694,30/06/2020,WARRADALE,5046,OFFENCES AGAINST PROPERTY,THEFT AND RELATED OFFENCES,Other theft,2.0,2020-06-30,"(2019-06-30, 2020-06-30]"
95696,30/06/2020,WEST HINDMARSH,5007,OFFENCES AGAINST PROPERTY,PROPERTY DAMAGE AND ENVIRONMENTAL,Other property damage and environmental,1.0,2020-06-30,"(2019-06-30, 2020-06-30]"
95697,30/06/2020,WEST LAKES,5021,OFFENCES AGAINST PROPERTY,SERIOUS CRIMINAL TRESPASS,SCT - Residence,1.0,2020-06-30,"(2019-06-30, 2020-06-30]"

In [26]:
#Check that there are 5 bins (ie. 5 financial years) in the finan_yr column.
crime_data["finan_yr"].unique()

[(2015-06-30, 2016-06-30], (2016-06-30, 2017-06-30], (2017-06-30, 2018-06-30], (2018-06-30, 2019-06-30], (2019-06-30, 2020-06-30]]
Categories (5, interval[datetime64[ns]]): [(2015-06-30, 2016-06-30] < (2016-06-30, 2017-06-30] < (2017-06-30, 2018-06-30] < (2018-06-30, 2019-06-30] < (2019-06-30, 2020-06-30]]

Clean Dataframe: crime_data1 
- Financial year column: finan_yr
- Only showing relevant Offence Level 3 Description categories for project: 
#1. Other theft (Theft not including motor vehicles and commercial shops)
#2. Other property damage and environmental
#3. Theft from motor vehicle
#4. SCT - Residence
#5. Theft/Illegal Use of MV

In [27]:
#Final cleaned up dataframe: crime_data1
crime_data1 = crime_data[['finan_yr','Formatted Date','Suburb - Incident','Offence Level 3 Description','Offence count']]
crime_data1

,finan_yr,Formatted Date,Suburb - Incident,Offence Level 3 Description,Offence count
2,"(2015-06-30, 2016-06-30]",2015-07-01,ADELAIDE,Other property damage and environmental,2.0
3,"(2015-06-30, 2016-06-30]",2015-07-01,ADELAIDE,Other theft,9.0
4,"(2015-06-30, 2016-06-30]",2015-07-01,ADELAIDE,Theft from motor vehicle,1.0
8,"(2015-06-30, 2016-06-30]",2015-07-01,ALBERTON,SCT - Residence,1.0
9,"(2015-06-30, 2016-06-30]",2015-07-01,ALBERT PARK,Other theft,1.0
...,...,...,...,...,...
95692,"(2019-06-30, 2020-06-30]",2020-06-30,WALKLEY HEIGHTS,Theft from motor vehicle,2.0
95693,"(2019-06-30, 2020-06-30]",2020-06-30,WANDEARAH EAST,Other theft,1.0
95694,"(2019-06-30, 2020-06-30]",2020-06-30,WARRADALE,Other theft,2.0
95696,"(2019-06-30, 2020-06-30]",2020-06-30,WEST HINDMARSH,Other property damage and environmental,1.0
95697,"(2019-06-30, 2020-06-30]",2020-06-30,WEST LAKES,SCT - Residence,1.0

ANALYSIS OF DATAFRAME RESULTS

In [28]:
#TOP 20 SUBURBS (CHRONOLOGICALLY) WITH HIGHEST CRIME RATES (OF THE FILTERED CATEGORIES GROUP IS ANALYSING)
#ie. Out of the categories analysed in our project, these are the suburbs with the highest offence counts. 
top20_crime_suburbs=crime_data["Suburb - Incident"].value_counts().head(20)
print(f"Top 20 Crime Suburbs\n{top20_crime_suburbs}\n")
#BOTTOM 20 SUBURBS (CHRONOLOGICALLY) WITH HIGHEST CRIME RATES (OF THE FILTERED CATEGORIES GROUP IS ANALYSING)
#ie. Out of the categories analysed in our project, these are the suburbs with the lowest offence counts. 
bot20_crime_suburbs=crime_data["Suburb - Incident"].value_counts().tail(20)
print(f"Bottom 20 Crime Suburbs\n{bot20_crime_suburbs}\n")

Top 20 Crime Suburbs
ADELAIDE             4915
MORPHETT VALE        3370
MURRAY BRIDGE        2901
MOUNT GAMBIER        2756
PORT AUGUSTA         2713
SALISBURY            2656
PORT LINCOLN         2576
MAWSON LAKES         2505
PARAFIELD GARDENS    2376
DAVOREN PARK         2371
PARALOWIE            2174
PROSPECT             2139
WHYALLA STUART       2063
WHYALLA NORRIE       2052
ELIZABETH            2043
SALISBURY NORTH      1912
KILBURN              1847
SEATON               1805
POORAKA              1758
SMITHFIELD           1737
Name: Suburb - Incident, dtype: int64

Bottom 20 Crime Suburbs
BURNSFIELD          1
FLAXLEY             1
COLEBATCH           1
BARNA               1
HAY VALLEY          1
NETHERTON           1
BRINSMEAD           1
LAURA BAY           1
BILLIATT            1
ST IVES             1
POINT SOUTTAR       1
BOCONNOC PARK       1
MOUNT WILLOUGHBY    1
BUCHANAN            1
SHEAOAK FLAT        1
KOONOONA            1
ANGAS PLAINS        1
MOUNT ARDEN         1
KNOXFIELD           1
WILLOCHRA           1
Name: Suburb - Incident, dtype: int64

In [55]:
## ANALYSIS OF LEVEL 3 CRIME TYPES (COLLECTIVELY FOR ALL SUBURBS) ####

#Crime Offence Count by Suburb and Crime Type (Level 3 description)
suburb_crime_group=crime_data1.groupby(["Suburb - Incident","Offence Level 3 Description"])
suburb_crime_cat_count=suburb_crime_group.count()["Offence count"]
suburb_crime_cat_count
#Top crime and Bottom Crime offence count by Level 3 Ofence Type
print(f"TOP CRIME TYPE OFFENCE COUNT BY SUBURB\n{suburb_crime_cat_count.nlargest(10)}\n")
print(f"BOTTOM CRIME TYPE OFFENCE COUNT BY SUBURB\n{suburb_crime_cat_count.nsmallest(10)}\n")

TOP CRIME TYPE OFFENCE COUNT BY SUBURB
Suburb - Incident  Offence Level 3 Description
ADELAIDE           Other theft                                1796
                   Other property damage and environmental    1537
PORT AUGUSTA       Other property damage and environmental    1176
MORPHETT VALE      Other property damage and environmental    1087
MURRAY BRIDGE      Other property damage and environmental    1049
PORT LINCOLN       Other property damage and environmental    1040
SALISBURY          Other theft                                1039
MORPHETT VALE      Other theft                                 996
MOUNT GAMBIER      Other property damage and environmental     989
MAWSON LAKES       Other theft                                 956
Name: Offence count, dtype: int64

BOTTOM CRIME TYPE OFFENCE COUNT BY SUBURB
Suburb - Incident  Offence Level 3 Description
ALAWOONA           Other property damage and environmental    1
                   Theft from motor vehicle                   1
ALFORD             Theft from motor vehicle                   1
ALICE SPRINGS      Theft/Illegal Use of MV                    1
ALLENDALE EAST     SCT - Residence                            1
ALLENDALE NORTH    SCT - Residence                            1
ALMA               SCT - Residence                            1
                   Theft from motor vehicle                   1
ALTONA             Other property damage and environmental    1
                   Other theft                                1
Name: Offence count, dtype: int64