South Australian Crime Data Vs Median Property Prices (BY SUBURB)

In [1]:
!pip install datetime

Requirement already satisfied: datetime in /Users/annabelcheong/opt/anaconda3/envs/PythonData/lib/python3.6/site-packages (4.3)
Requirement already satisfied: zope.interface in /Users/annabelcheong/opt/anaconda3/envs/PythonData/lib/python3.6/site-packages (from datetime) (5.2.0)
Requirement already satisfied: pytz in /Users/annabelcheong/opt/anaconda3/envs/PythonData/lib/python3.6/site-packages (from datetime) (2020.1)
Requirement already satisfied: setuptools in /Users/annabelcheong/opt/anaconda3/envs/PythonData/lib/python3.6/site-packages (from zope.interface->datetime) (47.1.1.post20200604)

In [2]:
#Dependencies
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
from datetime import datetime as dt

In [3]:
## MERGE 5 financial year csvs (July 2014 to June 2020)
# 2015-16_crime.csv
# 2016-17_crime.csv
# 2017-18_crime.csv
# 2018-19_crime.csv
# 2019-20_crime.csv

#Read csv "2015-16_crime.csv"
y15_crime=pd.read_csv("Resources/2015-16_crime.csv")
y15_crime.head()

#Read csv "2016-17_crime.csv"
y16_crime=pd.read_csv("Resources/2016-17_crime.csv")
y16_crime.head()

#Read csv "2017-18_crime.csv"
y17_crime=pd.read_csv("Resources/2017-18_crime.csv")
y17_crime.head()

#Read csv "2018-19_crime.csv"
y18_crime=pd.read_csv("Resources/2018-19_crime.csv")
y18_crime.head()

#Read csv "2019-20_crime.csv"
y19_crime=pd.read_csv("Resources/2019-20_crime.csv")
y19_crime.head()

,Reported Date,Suburb - Incident,Postcode - Incident,Offence Level 1 Description,Offence Level 2 Description,Offence Level 3 Description,Offence count
0,01/07/2019,ADELAIDE,5000,OFFENCES AGAINST PROPERTY,FRAUD DECEPTION AND RELATED OFFENCES,Obtain benefit by deception,1
1,01/07/2019,ADELAIDE,5000,OFFENCES AGAINST PROPERTY,FRAUD DECEPTION AND RELATED OFFENCES,"Other fraud, deception and related offences",1
2,01/07/2019,ADELAIDE,5000,OFFENCES AGAINST PROPERTY,PROPERTY DAMAGE AND ENVIRONMENTAL,Graffiti,1
3,01/07/2019,ADELAIDE,5000,OFFENCES AGAINST PROPERTY,PROPERTY DAMAGE AND ENVIRONMENTAL,Other property damage and environmental,2
4,01/07/2019,ADELAIDE,5000,OFFENCES AGAINST PROPERTY,THEFT AND RELATED OFFENCES,Other theft,6

In [4]:
#Concatonate all the 5 csv files for 5 consecutive years 
y15_16_crime=pd.concat([y15_crime, y16_crime], sort=False)
y15_16_crime

y15_16_17_crime=pd.concat([y15_16_crime, y17_crime], sort=False)
y15_16_17_crime

y15_16_17_18_crime=pd.concat([y15_16_17_crime, y18_crime], sort=False)
y15_16_17_18_crime

y15_16_17_18_19_crime=pd.concat([y15_16_17_18_crime, y19_crime], sort=False)
y15_16_17_18_19_crime

#Crime Data Merged, dataframe: "crime_data"
crime_data=y15_16_17_18_19_crime
crime_data

,Reported Date,Suburb - Incident,Postcode - Incident,Offence Level 1 Description,Offence Level 2 Description,Offence Level 3 Description,Offence count
0,1/07/2015,ABERFOYLE PARK,5159,OFFENCES AGAINST PROPERTY,SERIOUS CRIMINAL TRESPASS,SCT - Non Residence,2.0
1,1/07/2015,ADELAIDE,5000,OFFENCES AGAINST PROPERTY,FRAUD DECEPTION AND RELATED OFFENCES,Obtain benefit by deception,1.0
2,1/07/2015,ADELAIDE,5000,OFFENCES AGAINST PROPERTY,PROPERTY DAMAGE AND ENVIRONMENTAL,Other property damage and environmental,2.0
3,1/07/2015,ADELAIDE,5000,OFFENCES AGAINST PROPERTY,THEFT AND RELATED OFFENCES,Other theft,9.0
4,1/07/2015,ADELAIDE,5000,OFFENCES AGAINST PROPERTY,THEFT AND RELATED OFFENCES,Theft from motor vehicle,1.0
...,...,...,...,...,...,...,...
95697,30/06/2020,WEST LAKES,5021,OFFENCES AGAINST PROPERTY,SERIOUS CRIMINAL TRESPASS,SCT - Residence,1.0
95698,30/06/2020,WHYALLA NORRIE,5608,OFFENCES AGAINST PROPERTY,THEFT AND RELATED OFFENCES,Theft from shop,1.0
95699,30/06/2020,WOODVILLE NORTH,5012,OFFENCES AGAINST THE PERSON,ACTS INTENDED TO CAUSE INJURY,Serious Assault not resulting in injury,2.0
95700,30/06/2020,NaN,NaN,OFFENCES AGAINST PROPERTY,SERIOUS CRIMINAL TRESPASS,SCT - Non Residence,1.0
95701,30/06/2020,NaN,NaN,OFFENCES AGAINST PROPERTY,THEFT AND RELATED OFFENCES,Receive or handle proceeds of crime,1.0

In [5]:
#Drop NaN rows
crime_data=crime_data.dropna()
crime_data

,Reported Date,Suburb - Incident,Postcode - Incident,Offence Level 1 Description,Offence Level 2 Description,Offence Level 3 Description,Offence count
0,1/07/2015,ABERFOYLE PARK,5159,OFFENCES AGAINST PROPERTY,SERIOUS CRIMINAL TRESPASS,SCT - Non Residence,2.0
1,1/07/2015,ADELAIDE,5000,OFFENCES AGAINST PROPERTY,FRAUD DECEPTION AND RELATED OFFENCES,Obtain benefit by deception,1.0
2,1/07/2015,ADELAIDE,5000,OFFENCES AGAINST PROPERTY,PROPERTY DAMAGE AND ENVIRONMENTAL,Other property damage and environmental,2.0
3,1/07/2015,ADELAIDE,5000,OFFENCES AGAINST PROPERTY,THEFT AND RELATED OFFENCES,Other theft,9.0
4,1/07/2015,ADELAIDE,5000,OFFENCES AGAINST PROPERTY,THEFT AND RELATED OFFENCES,Theft from motor vehicle,1.0
...,...,...,...,...,...,...,...
95695,30/06/2020,WESTBOURNE PARK,5041,OFFENCES AGAINST PROPERTY,SERIOUS CRIMINAL TRESPASS,SCT - Non Residence,1.0
95696,30/06/2020,WEST HINDMARSH,5007,OFFENCES AGAINST PROPERTY,PROPERTY DAMAGE AND ENVIRONMENTAL,Other property damage and environmental,1.0
95697,30/06/2020,WEST LAKES,5021,OFFENCES AGAINST PROPERTY,SERIOUS CRIMINAL TRESPASS,SCT - Residence,1.0
95698,30/06/2020,WHYALLA NORRIE,5608,OFFENCES AGAINST PROPERTY,THEFT AND RELATED OFFENCES,Theft from shop,1.0
95699,30/06/2020,WOODVILLE NORTH,5012,OFFENCES AGAINST THE PERSON,ACTS INTENDED TO CAUSE INJURY,Serious Assault not resulting in injury,2.0

In [6]:
#Check unique descriptionws for 'Offence Level 1 Description'
crime_data["Offence Level 1 Description"].unique()

array(['OFFENCES AGAINST PROPERTY', 'OFFENCES AGAINST THE PERSON'],
      dtype=object)

In [7]:
#Removing rows which contains "OFFENCES AGAINST THE PERSON" in Offence Level 1 Description

crime_data = crime_data[~crime_data["Offence Level 1 Description"].isin(['OFFENCES AGAINST THE PERSON'])]
crime_data

,Reported Date,Suburb - Incident,Postcode - Incident,Offence Level 1 Description,Offence Level 2 Description,Offence Level 3 Description,Offence count
0,1/07/2015,ABERFOYLE PARK,5159,OFFENCES AGAINST PROPERTY,SERIOUS CRIMINAL TRESPASS,SCT - Non Residence,2.0
1,1/07/2015,ADELAIDE,5000,OFFENCES AGAINST PROPERTY,FRAUD DECEPTION AND RELATED OFFENCES,Obtain benefit by deception,1.0
2,1/07/2015,ADELAIDE,5000,OFFENCES AGAINST PROPERTY,PROPERTY DAMAGE AND ENVIRONMENTAL,Other property damage and environmental,2.0
3,1/07/2015,ADELAIDE,5000,OFFENCES AGAINST PROPERTY,THEFT AND RELATED OFFENCES,Other theft,9.0
4,1/07/2015,ADELAIDE,5000,OFFENCES AGAINST PROPERTY,THEFT AND RELATED OFFENCES,Theft from motor vehicle,1.0
...,...,...,...,...,...,...,...
95694,30/06/2020,WARRADALE,5046,OFFENCES AGAINST PROPERTY,THEFT AND RELATED OFFENCES,Other theft,2.0
95695,30/06/2020,WESTBOURNE PARK,5041,OFFENCES AGAINST PROPERTY,SERIOUS CRIMINAL TRESPASS,SCT - Non Residence,1.0
95696,30/06/2020,WEST HINDMARSH,5007,OFFENCES AGAINST PROPERTY,PROPERTY DAMAGE AND ENVIRONMENTAL,Other property damage and environmental,1.0
95697,30/06/2020,WEST LAKES,5021,OFFENCES AGAINST PROPERTY,SERIOUS CRIMINAL TRESPASS,SCT - Residence,1.0
95698,30/06/2020,WHYALLA NORRIE,5608,OFFENCES AGAINST PROPERTY,THEFT AND RELATED OFFENCES,Theft from shop,1.0

In [8]:
#Bin dataframe 'crime_data' by following groups
#  y16_17
#  y17_18
#  y18_19
#  y19_20

# #Binning Spending Ranges per Student
# bins=[xxxx,629,644,675]
# group_names=["<$584","$585-629","$630-644","$645-675"]

# avg_complete_df["Spending Range Group"]=pd.cut(avg_complete_df["budget per student"], bins, labels=group_names, include_lowest=True)
# #Groupby the Spending Range Group
# avg_complete_df=avg_complete_df.groupby(["Spending Range Group"])
# avg_complete_df=avg_complete_df.mean()

# dates=pd.to_datetime(crime_data["Reported Date"], format='%m/%d/%y')
# dates

# starting_hour = (df[df.type=='LOW'].head(1).event_date - dt.timedelta(hours=12)).item()
# intervals = pd.cut(df.event_date, pd.date_range(start=starting_hour , freq='30T', periods=49))

In [9]:
crime_data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 369863 entries, 0 to 95698
Data columns (total 7 columns):
 #   Column                       Non-Null Count   Dtype
---  ------                       --------------   -----
 0   Reported Date                369863 non-null  object
 1   Suburb - Incident            369863 non-null  object
 2   Postcode - Incident          369863 non-null  object
 3   Offence Level 1 Description  369863 non-null  object
 4   Offence Level 2 Description  369863 non-null  object
 5   Offence Level 3 Description  369863 non-null  object
 6   Offence count                369863 non-null  float64
dtypes: float64(1), object(6)
memory usage: 22.6+ MB

In [89]:
#Converts Reported Date column dtype from 'object' to 'datetime65[ns]'. Create a new column 'Formatted Date' of these dates
crime_data["Formatted Date"]=pd.to_datetime(crime_data["Reported Date"],format="%d/%m/%Y")
#Check dtype info
crime_data.info()

crime_data
# Create sample dataframe
# fake = Faker()
#start = dt(2015,6,30,00,00,00)
#end = dt(2020,7,1,23,59,59)
# df = pd.DataFrame({"datetime": [fake.date_time_between(start_date=start, end_date=end) for _ in range(n)]})

# Create bins
# bins = pd.date_range(start, end, periods=6, closed=None)
bins = pd.date_range(start=2015-6-30, periods=5, freq='Y',normalize=True)
crime_data["finan_yr"] = pd.cut(crime_data["Formatted Date"], bins=bins)
crime_data
# crime_data["Formatted Date"].unique()

# # Count grouped observations
# df.groupby("finan_yr").count().rename(columns={"datetime": "counts"})

<class 'pandas.core.frame.DataFrame'>
Int64Index: 369863 entries, 0 to 95698
Data columns (total 9 columns):
 #   Column                       Non-Null Count   Dtype
---  ------                       --------------   -----
 0   Reported Date                369863 non-null  object
 1   Suburb - Incident            369863 non-null  object
 2   Postcode - Incident          369863 non-null  object
 3   Offence Level 1 Description  369863 non-null  object
 4   Offence Level 2 Description  369863 non-null  object
 5   Offence Level 3 Description  369863 non-null  object
 6   Offence count                369863 non-null  float64
 7   Formatted Date               369863 non-null  datetime64[ns]
 8   finan_yr                     0 non-null       category
dtypes: category(1), datetime64[ns](1), float64(1), object(6)
memory usage: 25.7+ MB

,Reported Date,Suburb - Incident,Postcode - Incident,Offence Level 1 Description,Offence Level 2 Description,Offence Level 3 Description,Offence count,Formatted Date,finan_yr
0,1/07/2015,ABERFOYLE PARK,5159,OFFENCES AGAINST PROPERTY,SERIOUS CRIMINAL TRESPASS,SCT - Non Residence,2.0,2015-07-01,NaN
1,1/07/2015,ADELAIDE,5000,OFFENCES AGAINST PROPERTY,FRAUD DECEPTION AND RELATED OFFENCES,Obtain benefit by deception,1.0,2015-07-01,NaN
2,1/07/2015,ADELAIDE,5000,OFFENCES AGAINST PROPERTY,PROPERTY DAMAGE AND ENVIRONMENTAL,Other property damage and environmental,2.0,2015-07-01,NaN
3,1/07/2015,ADELAIDE,5000,OFFENCES AGAINST PROPERTY,THEFT AND RELATED OFFENCES,Other theft,9.0,2015-07-01,NaN
4,1/07/2015,ADELAIDE,5000,OFFENCES AGAINST PROPERTY,THEFT AND RELATED OFFENCES,Theft from motor vehicle,1.0,2015-07-01,NaN
...,...,...,...,...,...,...,...,...,...
95694,30/06/2020,WARRADALE,5046,OFFENCES AGAINST PROPERTY,THEFT AND RELATED OFFENCES,Other theft,2.0,2020-06-30,NaN
95695,30/06/2020,WESTBOURNE PARK,5041,OFFENCES AGAINST PROPERTY,SERIOUS CRIMINAL TRESPASS,SCT - Non Residence,1.0,2020-06-30,NaN
95696,30/06/2020,WEST HINDMARSH,5007,OFFENCES AGAINST PROPERTY,PROPERTY DAMAGE AND ENVIRONMENTAL,Other property damage and environmental,1.0,2020-06-30,NaN
95697,30/06/2020,WEST LAKES,5021,OFFENCES AGAINST PROPERTY,SERIOUS CRIMINAL TRESPASS,SCT - Residence,1.0,2020-06-30,NaN
95698,30/06/2020,WHYALLA NORRIE,5608,OFFENCES AGAINST PROPERTY,THEFT AND RELATED OFFENCES,Theft from shop,1.0,2020-06-30,NaN

In [11]:
#Check unique descriptionws for 'Offence Level 2 Description'
crime_data["Offence Level 2 Description"].unique()

array(['SERIOUS CRIMINAL TRESPASS',
       'FRAUD DECEPTION AND RELATED OFFENCES',
       'PROPERTY DAMAGE AND ENVIRONMENTAL', 'THEFT AND RELATED OFFENCES'],
      dtype=object)

In [12]:
#Check unique descriptionws for 'Offence Level 3 Description'
crime_data["Offence Level 3 Description"].unique()
crime_data["Offence Level 3 Description"].value_counts()
#1. Other theft : Description: Theft except motor vehicles
#2. Theft from motor vehicle
#3. SCT - Residence
# - DELETE: Theft from shop
# - DELETE: SCT - Non Residence
#4. Theft/Illegal Use of MV
#5. Other property damage and environmental

Other theft                                    90985
Other property damage and environmental        75303
Theft from motor vehicle                       41808
SCT - Residence                                36044
Theft from shop                                35125
SCT - Non Residence                            21139
Theft/Illegal Use of MV                        16883
Other unlawful entry with intent               15091
Obtain benefit by deception                    11548
Graffiti                                        8722
Property damage by fire or explosion            7044
Receive or handle proceeds of crime             6813
Other fraud, deception and related offences     3358
Name: Offence Level 3 Description, dtype: int64

In [13]:
crime_data["Suburb - Incident"].value_counts()

ADELAIDE         10079
MORPHETT VALE     4943
MURRAY BRIDGE     4504
SALISBURY         4284
PORT AUGUSTA      4082
                 ...
ROCHESTER            1
PORTER LAGOON        1
SHAUGH               1
WOODLANE             1
MORTANA              1
Name: Suburb - Incident, Length: 1552, dtype: int64