South Australian Crime Data Vs Median Property Prices (BY SUBURB)

In [1]:
!pip install datetime

Requirement already satisfied: datetime in /Users/annabelcheong/opt/anaconda3/envs/PythonData/lib/python3.6/site-packages (4.3)
Requirement already satisfied: pytz in /Users/annabelcheong/opt/anaconda3/envs/PythonData/lib/python3.6/site-packages (from datetime) (2020.1)
Requirement already satisfied: zope.interface in /Users/annabelcheong/opt/anaconda3/envs/PythonData/lib/python3.6/site-packages (from datetime) (5.2.0)
Requirement already satisfied: setuptools in /Users/annabelcheong/opt/anaconda3/envs/PythonData/lib/python3.6/site-packages (from zope.interface->datetime) (47.1.1.post20200604)

In [2]:
#Dependencies
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
from datetime import datetime as dt

In [3]:
## MERGE 5 financial year csvs (July 2014 to June 2020)
# 2015-16_crime.csv
# 2016-17_crime.csv
# 2017-18_crime.csv
# 2018-19_crime.csv
# 2019-20_crime.csv

#Read csv "2015-16_crime.csv"
y15_crime=pd.read_csv("Resources/2015-16_crime.csv")
y15_crime.head()

#Read csv "2016-17_crime.csv"
y16_crime=pd.read_csv("Resources/2016-17_crime.csv")
y16_crime.head()

#Read csv "2017-18_crime.csv"
y17_crime=pd.read_csv("Resources/2017-18_crime.csv")
y17_crime.head()

#Read csv "2018-19_crime.csv"
y18_crime=pd.read_csv("Resources/2018-19_crime.csv")
y18_crime.head()

#Read csv "2019-20_crime.csv"
y19_crime=pd.read_csv("Resources/2019-20_crime.csv")
y19_crime.head()

,Reported Date,Suburb - Incident,Postcode - Incident,Offence Level 1 Description,Offence Level 2 Description,Offence Level 3 Description,Offence count
0,01/07/2019,ADELAIDE,5000,OFFENCES AGAINST PROPERTY,FRAUD DECEPTION AND RELATED OFFENCES,Obtain benefit by deception,1
1,01/07/2019,ADELAIDE,5000,OFFENCES AGAINST PROPERTY,FRAUD DECEPTION AND RELATED OFFENCES,"Other fraud, deception and related offences",1
2,01/07/2019,ADELAIDE,5000,OFFENCES AGAINST PROPERTY,PROPERTY DAMAGE AND ENVIRONMENTAL,Graffiti,1
3,01/07/2019,ADELAIDE,5000,OFFENCES AGAINST PROPERTY,PROPERTY DAMAGE AND ENVIRONMENTAL,Other property damage and environmental,2
4,01/07/2019,ADELAIDE,5000,OFFENCES AGAINST PROPERTY,THEFT AND RELATED OFFENCES,Other theft,6

In [4]:
#Concatonate all the 5 csv files for 5 consecutive years 
y15_16_crime=pd.concat([y15_crime, y16_crime], sort=False)
y15_16_crime

y15_16_17_crime=pd.concat([y15_16_crime, y17_crime], sort=False)
y15_16_17_crime

y15_16_17_18_crime=pd.concat([y15_16_17_crime, y18_crime], sort=False)
y15_16_17_18_crime

y15_16_17_18_19_crime=pd.concat([y15_16_17_18_crime, y19_crime], sort=False)
y15_16_17_18_19_crime

#Crime Data Merged, dataframe: "crime_data"
crime_data=y15_16_17_18_19_crime
crime_data

,Reported Date,Suburb - Incident,Postcode - Incident,Offence Level 1 Description,Offence Level 2 Description,Offence Level 3 Description,Offence count
0,1/07/2015,ABERFOYLE PARK,5159,OFFENCES AGAINST PROPERTY,SERIOUS CRIMINAL TRESPASS,SCT - Non Residence,2.0
1,1/07/2015,ADELAIDE,5000,OFFENCES AGAINST PROPERTY,FRAUD DECEPTION AND RELATED OFFENCES,Obtain benefit by deception,1.0
2,1/07/2015,ADELAIDE,5000,OFFENCES AGAINST PROPERTY,PROPERTY DAMAGE AND ENVIRONMENTAL,Other property damage and environmental,2.0
3,1/07/2015,ADELAIDE,5000,OFFENCES AGAINST PROPERTY,THEFT AND RELATED OFFENCES,Other theft,9.0
4,1/07/2015,ADELAIDE,5000,OFFENCES AGAINST PROPERTY,THEFT AND RELATED OFFENCES,Theft from motor vehicle,1.0
...,...,...,...,...,...,...,...
95697,30/06/2020,WEST LAKES,5021,OFFENCES AGAINST PROPERTY,SERIOUS CRIMINAL TRESPASS,SCT - Residence,1.0
95698,30/06/2020,WHYALLA NORRIE,5608,OFFENCES AGAINST PROPERTY,THEFT AND RELATED OFFENCES,Theft from shop,1.0
95699,30/06/2020,WOODVILLE NORTH,5012,OFFENCES AGAINST THE PERSON,ACTS INTENDED TO CAUSE INJURY,Serious Assault not resulting in injury,2.0
95700,30/06/2020,NaN,NaN,OFFENCES AGAINST PROPERTY,SERIOUS CRIMINAL TRESPASS,SCT - Non Residence,1.0
95701,30/06/2020,NaN,NaN,OFFENCES AGAINST PROPERTY,THEFT AND RELATED OFFENCES,Receive or handle proceeds of crime,1.0

In [5]:
#Drop NaN rows
crime_data=crime_data.dropna()
crime_data

,Reported Date,Suburb - Incident,Postcode - Incident,Offence Level 1 Description,Offence Level 2 Description,Offence Level 3 Description,Offence count
0,1/07/2015,ABERFOYLE PARK,5159,OFFENCES AGAINST PROPERTY,SERIOUS CRIMINAL TRESPASS,SCT - Non Residence,2.0
1,1/07/2015,ADELAIDE,5000,OFFENCES AGAINST PROPERTY,FRAUD DECEPTION AND RELATED OFFENCES,Obtain benefit by deception,1.0
2,1/07/2015,ADELAIDE,5000,OFFENCES AGAINST PROPERTY,PROPERTY DAMAGE AND ENVIRONMENTAL,Other property damage and environmental,2.0
3,1/07/2015,ADELAIDE,5000,OFFENCES AGAINST PROPERTY,THEFT AND RELATED OFFENCES,Other theft,9.0
4,1/07/2015,ADELAIDE,5000,OFFENCES AGAINST PROPERTY,THEFT AND RELATED OFFENCES,Theft from motor vehicle,1.0
...,...,...,...,...,...,...,...
95695,30/06/2020,WESTBOURNE PARK,5041,OFFENCES AGAINST PROPERTY,SERIOUS CRIMINAL TRESPASS,SCT - Non Residence,1.0
95696,30/06/2020,WEST HINDMARSH,5007,OFFENCES AGAINST PROPERTY,PROPERTY DAMAGE AND ENVIRONMENTAL,Other property damage and environmental,1.0
95697,30/06/2020,WEST LAKES,5021,OFFENCES AGAINST PROPERTY,SERIOUS CRIMINAL TRESPASS,SCT - Residence,1.0
95698,30/06/2020,WHYALLA NORRIE,5608,OFFENCES AGAINST PROPERTY,THEFT AND RELATED OFFENCES,Theft from shop,1.0
95699,30/06/2020,WOODVILLE NORTH,5012,OFFENCES AGAINST THE PERSON,ACTS INTENDED TO CAUSE INJURY,Serious Assault not resulting in injury,2.0

In [6]:
#Check unique descriptionws for 'Offence Level 1 Description'
crime_data["Offence Level 1 Description"].unique()

array(['OFFENCES AGAINST PROPERTY', 'OFFENCES AGAINST THE PERSON'],
      dtype=object)

In [7]:
#Removing rows which contains "OFFENCES AGAINST THE PERSON" in Offence Level 1 Description

crime_data = crime_data[~crime_data["Offence Level 1 Description"].isin(['OFFENCES AGAINST THE PERSON'])]
crime_data

,Reported Date,Suburb - Incident,Postcode - Incident,Offence Level 1 Description,Offence Level 2 Description,Offence Level 3 Description,Offence count
0,1/07/2015,ABERFOYLE PARK,5159,OFFENCES AGAINST PROPERTY,SERIOUS CRIMINAL TRESPASS,SCT - Non Residence,2.0
1,1/07/2015,ADELAIDE,5000,OFFENCES AGAINST PROPERTY,FRAUD DECEPTION AND RELATED OFFENCES,Obtain benefit by deception,1.0
2,1/07/2015,ADELAIDE,5000,OFFENCES AGAINST PROPERTY,PROPERTY DAMAGE AND ENVIRONMENTAL,Other property damage and environmental,2.0
3,1/07/2015,ADELAIDE,5000,OFFENCES AGAINST PROPERTY,THEFT AND RELATED OFFENCES,Other theft,9.0
4,1/07/2015,ADELAIDE,5000,OFFENCES AGAINST PROPERTY,THEFT AND RELATED OFFENCES,Theft from motor vehicle,1.0
...,...,...,...,...,...,...,...
95694,30/06/2020,WARRADALE,5046,OFFENCES AGAINST PROPERTY,THEFT AND RELATED OFFENCES,Other theft,2.0
95695,30/06/2020,WESTBOURNE PARK,5041,OFFENCES AGAINST PROPERTY,SERIOUS CRIMINAL TRESPASS,SCT - Non Residence,1.0
95696,30/06/2020,WEST HINDMARSH,5007,OFFENCES AGAINST PROPERTY,PROPERTY DAMAGE AND ENVIRONMENTAL,Other property damage and environmental,1.0
95697,30/06/2020,WEST LAKES,5021,OFFENCES AGAINST PROPERTY,SERIOUS CRIMINAL TRESPASS,SCT - Residence,1.0
95698,30/06/2020,WHYALLA NORRIE,5608,OFFENCES AGAINST PROPERTY,THEFT AND RELATED OFFENCES,Theft from shop,1.0

In [8]:
#Check unique descriptionws for 'Offence Level 2 Description'
crime_data["Offence Level 2 Description"].unique()

array(['SERIOUS CRIMINAL TRESPASS',
       'FRAUD DECEPTION AND RELATED OFFENCES',
       'PROPERTY DAMAGE AND ENVIRONMENTAL', 'THEFT AND RELATED OFFENCES'],
      dtype=object)

In [9]:
#Check unique descriptions for 'Offence Level 3 Description'
crime_data["Offence Level 3 Description"].unique()
print(crime_data["Offence Level 3 Description"].value_counts())
#1. Other theft : Description: Theft except motor vehicles
#2. Other property damage and environmental
#3. Theft from motor vehicle
#4. SCT - Residence
#5. Theft/Illegal Use of MV
# - DELETE: Theft from shop
# - DELETE: SCT - Non Residence

#Removing rows which are not intended to be analysed in Offence Level 3 Description
#List out categories keeping in '.isin'
crime_data = crime_data[crime_data["Offence Level 3 Description"].isin(["Other theft","Other property damage and environmental","Theft from motor vehicle","SCT - Residence","Theft/Illegal Use of MV"])]
print(crime_data)
print(crime_data["Offence Level 3 Description"].value_counts())

Other theft                                    90985
Other property damage and environmental        75303
Theft from motor vehicle                       41808
SCT - Residence                                36044
Theft from shop                                35125
SCT - Non Residence                            21139
Theft/Illegal Use of MV                        16883
Other unlawful entry with intent               15091
Obtain benefit by deception                    11548
Graffiti                                        8722
Property damage by fire or explosion            7044
Receive or handle proceeds of crime             6813
Other fraud, deception and related offences     3358
Name: Offence Level 3 Description, dtype: int64
      Reported Date Suburb - Incident Postcode - Incident  \
2         1/07/2015          ADELAIDE                5000
3         1/07/2015          ADELAIDE                5000
4         1/07/2015          ADELAIDE                5000
8         1/07/2015          ALBERTON                5014
9         1/07/2015       ALBERT PARK                5014
...             ...               ...                 ...
95692    30/06/2020   WALKLEY HEIGHTS                5098
95693    30/06/2020    WANDEARAH EAST                5523
95694    30/06/2020         WARRADALE                5046
95696    30/06/2020    WEST HINDMARSH                5007
95697    30/06/2020        WEST LAKES                5021

      Offence Level 1 Description        Offence Level 2 Description  \
2       OFFENCES AGAINST PROPERTY  PROPERTY DAMAGE AND ENVIRONMENTAL
3       OFFENCES AGAINST PROPERTY         THEFT AND RELATED OFFENCES
4       OFFENCES AGAINST PROPERTY         THEFT AND RELATED OFFENCES
8       OFFENCES AGAINST PROPERTY          SERIOUS CRIMINAL TRESPASS
9       OFFENCES AGAINST PROPERTY         THEFT AND RELATED OFFENCES
...                           ...                                ...
95692   OFFENCES AGAINST PROPERTY         THEFT AND RELATED OFFENCES
95693   OFFENCES AGAINST PROPERTY         THEFT AND RELATED OFFENCES
95694   OFFENCES AGAINST PROPERTY         THEFT AND RELATED OFFENCES
95696   OFFENCES AGAINST PROPERTY  PROPERTY DAMAGE AND ENVIRONMENTAL
95697   OFFENCES AGAINST PROPERTY          SERIOUS CRIMINAL TRESPASS

                   Offence Level 3 Description  Offence count
2      Other property damage and environmental            2.0
3                                  Other theft            9.0
4                     Theft from motor vehicle            1.0
8                              SCT - Residence            1.0
9                                  Other theft            1.0
...                                        ...            ...
95692                 Theft from motor vehicle            2.0
95693                              Other theft            1.0
95694                              Other theft            2.0
95696  Other property damage and environmental            1.0
95697                          SCT - Residence            1.0

[261023 rows x 7 columns]
Other theft                                90985
Other property damage and environmental    75303
Theft from motor vehicle                   41808
SCT - Residence                            36044
Theft/Illegal Use of MV                    16883
Name: Offence Level 3 Description, dtype: int64

Binning by Financial Year

In [10]:
#Check dtype info
#crime_data.info()
#Reported Date column has dtype:object. Need to convert to a dtype: datetime64[ns]

#Converts Reported Date column dtype from 'object' to 'datetime65[ns]'. Create a new column 'Formatted Date' to save the date in required format (for binning)
crime_data["Formatted Date"]=pd.to_datetime(crime_data["Reported Date"],format="%d/%m/%Y")
#crime_data.info()

###### Binning each row (crime) into the specific financial year #### 
#Ensure the start and end dates cover the range of all the data. 
start = '2014/6/30'
end='2021/6/30'

# Create bins
#Note: closed=right indicates the start date (left) is not included, but the end date (right) is included.
bins = pd.date_range(start=start, end=end, normalize=True, freq=pd.offsets.MonthEnd(12), closed='right')
crime_data["finan_yr"] = pd.cut(crime_data["Formatted Date"], bins=bins)
crime_data

,Reported Date,Suburb - Incident,Postcode - Incident,Offence Level 1 Description,Offence Level 2 Description,Offence Level 3 Description,Offence count,Formatted Date,finan_yr
2,1/07/2015,ADELAIDE,5000,OFFENCES AGAINST PROPERTY,PROPERTY DAMAGE AND ENVIRONMENTAL,Other property damage and environmental,2.0,2015-07-01,"(2015-06-30, 2016-06-30]"
3,1/07/2015,ADELAIDE,5000,OFFENCES AGAINST PROPERTY,THEFT AND RELATED OFFENCES,Other theft,9.0,2015-07-01,"(2015-06-30, 2016-06-30]"
4,1/07/2015,ADELAIDE,5000,OFFENCES AGAINST PROPERTY,THEFT AND RELATED OFFENCES,Theft from motor vehicle,1.0,2015-07-01,"(2015-06-30, 2016-06-30]"
8,1/07/2015,ALBERTON,5014,OFFENCES AGAINST PROPERTY,SERIOUS CRIMINAL TRESPASS,SCT - Residence,1.0,2015-07-01,"(2015-06-30, 2016-06-30]"
9,1/07/2015,ALBERT PARK,5014,OFFENCES AGAINST PROPERTY,THEFT AND RELATED OFFENCES,Other theft,1.0,2015-07-01,"(2015-06-30, 2016-06-30]"
...,...,...,...,...,...,...,...,...,...
95692,30/06/2020,WALKLEY HEIGHTS,5098,OFFENCES AGAINST PROPERTY,THEFT AND RELATED OFFENCES,Theft from motor vehicle,2.0,2020-06-30,"(2019-06-30, 2020-06-30]"
95693,30/06/2020,WANDEARAH EAST,5523,OFFENCES AGAINST PROPERTY,THEFT AND RELATED OFFENCES,Other theft,1.0,2020-06-30,"(2019-06-30, 2020-06-30]"
95694,30/06/2020,WARRADALE,5046,OFFENCES AGAINST PROPERTY,THEFT AND RELATED OFFENCES,Other theft,2.0,2020-06-30,"(2019-06-30, 2020-06-30]"
95696,30/06/2020,WEST HINDMARSH,5007,OFFENCES AGAINST PROPERTY,PROPERTY DAMAGE AND ENVIRONMENTAL,Other property damage and environmental,1.0,2020-06-30,"(2019-06-30, 2020-06-30]"
95697,30/06/2020,WEST LAKES,5021,OFFENCES AGAINST PROPERTY,SERIOUS CRIMINAL TRESPASS,SCT - Residence,1.0,2020-06-30,"(2019-06-30, 2020-06-30]"

In [11]:
#Check that there are 5 bins (ie. 5 financial years) in the finan_yr column.
crime_data["finan_yr"].unique()

[(2015-06-30, 2016-06-30], (2016-06-30, 2017-06-30], (2017-06-30, 2018-06-30], (2018-06-30, 2019-06-30], (2019-06-30, 2020-06-30]]
Categories (5, interval[datetime64[ns]]): [(2015-06-30, 2016-06-30] < (2016-06-30, 2017-06-30] < (2017-06-30, 2018-06-30] < (2018-06-30, 2019-06-30] < (2019-06-30, 2020-06-30]]

CLEAN DATAFRAME: crime_data1 
- Financial year column: finan_yr
- Only showing relevant Offence Level 3 Description categories for project: 
#1. Other theft (Theft not including motor vehicles and commercial shops)
#2. Other property damage and environmental
#3. Theft from motor vehicle
#4. SCT - Residence
#5. Theft/Illegal Use of MV

In [12]:
#Final cleaned up dataframe: crime_data1
crime_data1 = crime_data[['finan_yr','Formatted Date','Suburb - Incident','Offence Level 3 Description','Offence count']]
crime_data1

,finan_yr,Formatted Date,Suburb - Incident,Offence Level 3 Description,Offence count
2,"(2015-06-30, 2016-06-30]",2015-07-01,ADELAIDE,Other property damage and environmental,2.0
3,"(2015-06-30, 2016-06-30]",2015-07-01,ADELAIDE,Other theft,9.0
4,"(2015-06-30, 2016-06-30]",2015-07-01,ADELAIDE,Theft from motor vehicle,1.0
8,"(2015-06-30, 2016-06-30]",2015-07-01,ALBERTON,SCT - Residence,1.0
9,"(2015-06-30, 2016-06-30]",2015-07-01,ALBERT PARK,Other theft,1.0
...,...,...,...,...,...
95692,"(2019-06-30, 2020-06-30]",2020-06-30,WALKLEY HEIGHTS,Theft from motor vehicle,2.0
95693,"(2019-06-30, 2020-06-30]",2020-06-30,WANDEARAH EAST,Other theft,1.0
95694,"(2019-06-30, 2020-06-30]",2020-06-30,WARRADALE,Other theft,2.0
95696,"(2019-06-30, 2020-06-30]",2020-06-30,WEST HINDMARSH,Other property damage and environmental,1.0
95697,"(2019-06-30, 2020-06-30]",2020-06-30,WEST LAKES,SCT - Residence,1.0

DATAFRAMES BY FINANCIAL YEAR

In [13]:
# Filtered for finan_yr, dataframe: y15_16, y16_17, y17_18, y18_19 y19_20

#See dtypes for dataframe
crime_data1.info()

#Cast column finan_yr's dtype from category to string for dataframe (to be able to filter later on)
crime_data1["finan_yr"]=crime_data1["finan_yr"].astype(str)

# Check dtype for finan_yr has changed to object (string)
crime_data1.info()

#Create dataframes by financial year (5 financial years total)
y15_16 = crime_data1[crime_data1["finan_yr"].isin(['(2015-06-30, 2016-06-30]'])]
y16_17 = crime_data1[crime_data1["finan_yr"].isin(['(2016-06-30, 2017-06-30]'])]
y17_18 = crime_data1[crime_data1["finan_yr"].isin(['(2017-06-30, 2018-06-30]'])]
y18_19 = crime_data1[crime_data1["finan_yr"].isin(['(2018-06-30, 2019-06-30]'])]
y19_20 = crime_data1[crime_data1["finan_yr"].isin(['(2019-06-30, 2020-06-30]'])]

<class 'pandas.core.frame.DataFrame'>
Int64Index: 261023 entries, 2 to 95697
Data columns (total 5 columns):
 #   Column                       Non-Null Count   Dtype
---  ------                       --------------   -----
 0   finan_yr                     261023 non-null  category
 1   Formatted Date               261023 non-null  datetime64[ns]
 2   Suburb - Incident            261023 non-null  object
 3   Offence Level 3 Description  261023 non-null  object
 4   Offence count                261023 non-null  float64
dtypes: category(1), datetime64[ns](1), float64(1), object(2)
memory usage: 10.2+ MB
<class 'pandas.core.frame.DataFrame'>
Int64Index: 261023 entries, 2 to 95697
Data columns (total 5 columns):
 #   Column                       Non-Null Count   Dtype
---  ------                       --------------   -----
 0   finan_yr                     261023 non-null  object
 1   Formatted Date               261023 non-null  datetime64[ns]
 2   Suburb - Incident            261023 non-null  object
 3   Offence Level 3 Description  261023 non-null  object
 4   Offence count                261023 non-null  float64
dtypes: datetime64[ns](1), float64(1), object(3)
memory usage: 11.9+ MB

ANALYSIS OF DATAFRAME RESULTS

Overall Results

In [16]:
#TOP 20 SUBURBS (CHRONOLOGICALLY) WITH HIGHEST CRIME RATES (OF THE FILTERED CATEGORIES GROUP IS ANALYSING)
#ie. Out of the categories analysed in our project, these are the suburbs with the highest offence counts. 
top20_crime_suburbs=crime_data["Suburb - Incident"].value_counts().head(20)
print(f"Top 20 Crime Suburbs\n{top20_crime_suburbs}\n")
#BOTTOM 20 SUBURBS (CHRONOLOGICALLY) WITH HIGHEST CRIME RATES (OF THE FILTERED CATEGORIES GROUP IS ANALYSING)
#ie. Out of the categories analysed in our project, these are the suburbs with the lowest offence counts. 
bot20_crime_suburbs=crime_data["Suburb - Incident"].value_counts().tail(20)
print(f"Bottom 20 Crime Suburbs\n{bot20_crime_suburbs}\n")

In [15]:
## ANALYSIS OF LEVEL 3 CRIME TYPES (COLLECTIVELY FOR ALL SUBURBS) ####

#Crime Offence Count by Suburb and Crime Type (Level 3 description)
suburb_crime_group=crime_data1.groupby(["Suburb - Incident","Offence Level 3 Description"])
suburb_crime_cat_count=suburb_crime_group.count()["Offence count"]
suburb_crime_cat_count
#Top crime and Bottom Crime offence count by Level 3 Ofence Type
print(f"TOP CRIME TYPE OFFENCE COUNT BY SUBURB\n{suburb_crime_cat_count.nlargest(10)}\n")
print(f"BOTTOM CRIME TYPE OFFENCE COUNT BY SUBURB\n{suburb_crime_cat_count.nsmallest(10)}\n")

TOP CRIME TYPE OFFENCE COUNT BY SUBURB
Suburb - Incident  Offence Level 3 Description
ADELAIDE           Other theft                                1796
                   Other property damage and environmental    1537
PORT AUGUSTA       Other property damage and environmental    1176
MORPHETT VALE      Other property damage and environmental    1087
MURRAY BRIDGE      Other property damage and environmental    1049
PORT LINCOLN       Other property damage and environmental    1040
SALISBURY          Other theft                                1039
MORPHETT VALE      Other theft                                 996
MOUNT GAMBIER      Other property damage and environmental     989
MAWSON LAKES       Other theft                                 956
Name: Offence count, dtype: int64

BOTTOM CRIME TYPE OFFENCE COUNT BY SUBURB
Suburb - Incident  Offence Level 3 Description
ALAWOONA           Other property damage and environmental    1
                   Theft from motor vehicle                   1
ALFORD             Theft from motor vehicle                   1
ALICE SPRINGS      Theft/Illegal Use of MV                    1
ALLENDALE EAST     SCT - Residence                            1
ALLENDALE NORTH    SCT - Residence                            1
ALMA               SCT - Residence                            1
                   Theft from motor vehicle                   1
ALTONA             Other property damage and environmental    1
                   Other theft                                1
Name: Offence count, dtype: int64

Results by Financial Year

y15_16 

y16_17 

y17_18 

y18_19 

y19_20

In [18]:
#Financial Yr Dataframe: y15_16
## ANALYSIS OF LEVEL 3 CRIME TYPES (FOR ALL SUBURBS BY FINANCIAL YEAR) ####
y15_16

#ie. Out of the categories analysed in our project, these are the suburbs with the highest offence counts. 
y15_16_top20_crime_suburbs=y15_16["Suburb - Incident"].value_counts().head(20)
print(f"Top 20 Crime Suburbs\n{y15_16_top20_crime_suburbs}\n")
#BOTTOM 20 SUBURBS (CHRONOLOGICALLY) WITH HIGHEST CRIME RATES (OF THE FILTERED CATEGORIES GROUP IS ANALYSING)
#ie. Out of the categories analysed in our project, these are the suburbs with the lowest offence counts. 
y15_16_bot20_crime_suburbs=y15_16["Suburb - Incident"].value_counts().tail(20)
print(f"Bottom 20 Crime Suburbs\n{y15_16_bot20_crime_suburbs}\n")

#--------------------------------------------
#Crime Offence Count by Suburb and Crime Type (Level 3 description)
y15_16_suburb_crime_group=y15_16.groupby(["Suburb - Incident","Offence Level 3 Description"])
y15_16_suburb_crime_cat_count=y15_16_suburb_crime_group.count()["Offence count"]
y15_16_suburb_crime_cat_count
#Top crime and Bottom Crime offence count by Level 3 Ofence Type
print(f"TOP CRIME TYPE OFFENCE COUNT BY SUBURB\n{y15_16_suburb_crime_cat_count.nlargest(10)}\n")
print(f"BOTTOM CRIME TYPE OFFENCE COUNT BY SUBURB\n{y15_16_suburb_crime_cat_count.nsmallest(10)}\n")

Top 20 Crime Suburbs
ADELAIDE             917
MORPHETT VALE        634
MOUNT GAMBIER        631
PORT AUGUSTA         611
SALISBURY            566
PORT LINCOLN         562
DAVOREN PARK         538
MURRAY BRIDGE        527
PARAFIELD GARDENS    480
MAWSON LAKES         459
PARALOWIE            459
WHYALLA STUART       452
ELIZABETH            426
SALISBURY NORTH      413
PROSPECT             405
WHYALLA NORRIE       401
SEATON               371
MOUNT BARKER         357
POORAKA              352
KILBURN              338
Name: Suburb - Incident, dtype: int64

Bottom 20 Crime Suburbs
ROGUES POINT          1
BULL CREEK            1
REDBANKS              1
CHAIN OF PONDS        1
HYNAM                 1
KESWICK TERMINAL      1
PAGES FLAT            1
AVENUE RANGE          1
PINE POINT            1
MOUNT BRYAN EAST      1
YANINEE               1
PERNATTY              1
HOPE FOREST           1
PARACOMBE             1
NARRUNG               1
BUMBUNGA              1
PARHAM                1
COLES                 1
BLACKFELLOWS CREEK    1
CULBURRA              1
Name: Suburb - Incident, dtype: int64

TOP CRIME TYPE OFFENCE COUNT BY SUBURB
Suburb - Incident  Offence Level 3 Description
ADELAIDE           Other theft                                359
                   Other property damage and environmental    290
PORT AUGUSTA       Other property damage and environmental    241
PORT LINCOLN       Other property damage and environmental    239
MOUNT GAMBIER      Other property damage and environmental    223
MORPHETT VALE      Other property damage and environmental    212
MURRAY BRIDGE      Other property damage and environmental    202
ELIZABETH          Other theft                                198
SALISBURY          Other theft                                196
WHYALLA STUART     Other property damage and environmental    189
Name: Offence count, dtype: int64

BOTTOM CRIME TYPE OFFENCE COUNT BY SUBURB
Suburb - Incident  Offence Level 3 Description
ALAWOONA           Other property damage and environmental    1
ALDGATE            Theft/Illegal Use of MV                    1
ALDINGA            SCT - Residence                            1
ALFORD             Other theft                                1
                   Theft/Illegal Use of MV                    1
ALLENDALE EAST     Other property damage and environmental    1
                   Theft from motor vehicle                   1
                   Theft/Illegal Use of MV                    1
ALTONA             SCT - Residence                            1
AMATA              Theft/Illegal Use of MV                    1
Name: Offence count, dtype: int64

In [19]:
#Financial Yr Dataframe: y16_17
## ANALYSIS OF LEVEL 3 CRIME TYPES (FOR ALL SUBURBS BY FINANCIAL YEAR) ####
y16_17

#ie. Out of the categories analysed in our project, these are the suburbs with the highest offence counts. 
y16_17_top20_crime_suburbs=y16_17["Suburb - Incident"].value_counts().head(20)
print(f"Top 20 Crime Suburbs\n{y16_17_top20_crime_suburbs}\n")
#BOTTOM 20 SUBURBS (CHRONOLOGICALLY) WITH HIGHEST CRIME RATES (OF THE FILTERED CATEGORIES GROUP IS ANALYSING)
#ie. Out of the categories analysed in our project, these are the suburbs with the lowest offence counts. 
y16_17_bot20_crime_suburbs=y16_17["Suburb - Incident"].value_counts().tail(20)
print(f"Bottom 20 Crime Suburbs\n{y16_17_bot20_crime_suburbs}\n")

#--------------------------------------------
#Crime Offence Count by Suburb and Crime Type (Level 3 description)
y16_17_suburb_crime_group=y16_17.groupby(["Suburb - Incident","Offence Level 3 Description"])
y16_17_suburb_crime_cat_count=y16_17_suburb_crime_group.count()["Offence count"]
y16_17_suburb_crime_cat_count
#Top crime and Bottom Crime offence count by Level 3 Ofence Type
print(f"TOP CRIME TYPE OFFENCE COUNT BY SUBURB\n{y16_17_suburb_crime_cat_count.nlargest(10)}\n")
print(f"BOTTOM CRIME TYPE OFFENCE COUNT BY SUBURB\n{y16_17_suburb_crime_cat_count.nsmallest(10)}\n")

Top 20 Crime Suburbs
ADELAIDE             926
MURRAY BRIDGE        616
MORPHETT VALE        613
PORT AUGUSTA         592
MOUNT GAMBIER        575
SALISBURY            501
MAWSON LAKES         481
PARAFIELD GARDENS    477
PORT LINCOLN         466
DAVOREN PARK         453
PARALOWIE            442
ELIZABETH            427
WHYALLA STUART       424
SALISBURY NORTH      394
PROSPECT             374
MUNNO PARA           357
SEATON               355
WHYALLA NORRIE       351
KILBURN              346
POORAKA              342
Name: Suburb - Incident, dtype: int64

Bottom 20 Crime Suburbs
YUMALI             1
POINT BOSTON       1
CHINAMAN WELLS     1
STONE HUT          1
BILLIATT           1
BEETALOO VALLEY    1
HARROGATE          1
DUCK PONDS         1
FURNER             1
WEEROONA ISLAND    1
TICKERA            1
VEITCH             1
NGAPALA            1
PORT KENNY         1
WARBURTO           1
BLAKISTON          1
HARDWICKE BAY      1
BOOBOROWIE         1
JUPITER CREEK      1
NARRIDY            1
Name: Suburb - Incident, dtype: int64

TOP CRIME TYPE OFFENCE COUNT BY SUBURB
Suburb - Incident  Offence Level 3 Description
ADELAIDE           Other theft                                356
                   Other property damage and environmental    294
PORT AUGUSTA       Other property damage and environmental    269
MURRAY BRIDGE      Other property damage and environmental    226
MOUNT GAMBIER      Other property damage and environmental    213
SALISBURY          Other theft                                208
MORPHETT VALE      Other property damage and environmental    194
MAWSON LAKES       Other theft                                192
PORT LINCOLN       Other property damage and environmental    189
MURRAY BRIDGE      Other theft                                188
Name: Offence count, dtype: int64

BOTTOM CRIME TYPE OFFENCE COUNT BY SUBURB
Suburb - Incident  Offence Level 3 Description
AGERY              Theft/Illegal Use of MV                    1
ALDGATE            Theft/Illegal Use of MV                    1
ALDINGA            Theft/Illegal Use of MV                    1
ALLENDALE EAST     Other property damage and environmental    1
                   SCT - Residence                            1
                   Theft from motor vehicle                   1
                   Theft/Illegal Use of MV                    1
ALMA               Other theft                                1
                   Theft from motor vehicle                   1
AMERICAN RIVER     SCT - Residence                            1
Name: Offence count, dtype: int64

In [20]:
#Financial Yr Dataframe: y17_18
## ANALYSIS OF LEVEL 3 CRIME TYPES (FOR ALL SUBURBS BY FINANCIAL YEAR) ####
y17_18

#ie. Out of the categories analysed in our project, these are the suburbs with the highest offence counts. 
y17_18_top20_crime_suburbs=y17_18["Suburb - Incident"].value_counts().head(20)
print(f"Top 20 Crime Suburbs\n{y17_18_top20_crime_suburbs}\n")
#BOTTOM 20 SUBURBS (CHRONOLOGICALLY) WITH HIGHEST CRIME RATES (OF THE FILTERED CATEGORIES GROUP IS ANALYSING)
#ie. Out of the categories analysed in our project, these are the suburbs with the lowest offence counts. 
y17_18_bot20_crime_suburbs=y17_18["Suburb - Incident"].value_counts().tail(20)
print(f"Bottom 20 Crime Suburbs\n{y17_18_bot20_crime_suburbs}\n")

#--------------------------------------------
#Crime Offence Count by Suburb and Crime Type (Level 3 description)
y17_18_suburb_crime_group=y17_18.groupby(["Suburb - Incident","Offence Level 3 Description"])
y17_18_suburb_crime_cat_count=y17_18_suburb_crime_group.count()["Offence count"]
y17_18_suburb_crime_cat_count
#Top crime and Bottom Crime offence count by Level 3 Ofence Type
print(f"TOP CRIME TYPE OFFENCE COUNT BY SUBURB\n{y17_18_suburb_crime_cat_count.nlargest(10)}\n")
print(f"BOTTOM CRIME TYPE OFFENCE COUNT BY SUBURB\n{y17_18_suburb_crime_cat_count.nsmallest(10)}\n")

Top 20 Crime Suburbs
ADELAIDE             963
MORPHETT VALE        711
MURRAY BRIDGE        650
SALISBURY            534
MOUNT GAMBIER        527
PORT AUGUSTA         522
MAWSON LAKES         519
PARAFIELD GARDENS    510
PORT LINCOLN         473
DAVOREN PARK         470
PARALOWIE            446
PROSPECT             416
WHYALLA STUART       394
SALISBURY NORTH      391
ELIZABETH            371
CHRISTIE DOWNS       366
CHRISTIES BEACH      355
KILBURN              354
SEATON               354
OAKLANDS PARK        339
Name: Suburb - Incident, dtype: int64

Bottom 20 Crime Suburbs
TOTHILL CREEK       1
TOTHILL BELT        1
DUTTON EAST         1
BOWHILL             1
NORTH BOOBOROWIE    1
LOCHABER            1
ROCKY CAMP          1
MITCHELLVILLE       1
PORT CLINTON        1
NALYAPPA            1
WELLINGTON          1
HARTLEY             1
MURDINGA            1
PATA                1
HUDDLESTON          1
YORKE VALLEY        1
SHEA-OAK LOG        1
CAROLINE            1
CONMURRA            1
LEAWOOD GARDENS     1
Name: Suburb - Incident, dtype: int64

TOP CRIME TYPE OFFENCE COUNT BY SUBURB
Suburb - Incident  Offence Level 3 Description
ADELAIDE           Other theft                                356
                   Other property damage and environmental    315
MORPHETT VALE      Other property damage and environmental    236
MURRAY BRIDGE      Other property damage and environmental    234
PORT AUGUSTA       Other property damage and environmental    228
SALISBURY          Other theft                                215
MAWSON LAKES       Other theft                                214
MORPHETT VALE      Other theft                                211
BOLIVAR            Other theft                                198
PORT LINCOLN       Other property damage and environmental    194
Name: Offence count, dtype: int64

BOTTOM CRIME TYPE OFFENCE COUNT BY SUBURB
Suburb - Incident  Offence Level 3 Description
ALAWOONA           Theft from motor vehicle                   1
ALDGATE            SCT - Residence                            1
ALFORD             Other property damage and environmental    1
                   Other theft                                1
                   Theft from motor vehicle                   1
                   Theft/Illegal Use of MV                    1
ALLENDALE EAST     Other property damage and environmental    1
                   Other theft                                1
                   Theft from motor vehicle                   1
ALMA               SCT - Residence                            1
Name: Offence count, dtype: int64

In [23]:
#Financial Yr Dataframe: y18_19
## ANALYSIS OF LEVEL 3 CRIME TYPES (FOR ALL SUBURBS BY FINANCIAL YEAR) ####
y18_19

#ie. Out of the categories analysed in our project, these are the suburbs with the highest offence counts. 
y18_19_top20_crime_suburbs=y18_19["Suburb - Incident"].value_counts().head(20)
print(f"Top 20 Crime Suburbs\n{y18_19_top20_crime_suburbs}\n")
#BOTTOM 20 SUBURBS (CHRONOLOGICALLY) WITH HIGHEST CRIME RATES (OF THE FILTERED CATEGORIES GROUP IS ANALYSING)
#ie. Out of the categories analysed in our project, these are the suburbs with the lowest offence counts. 
y18_19_bot20_crime_suburbs=y18_19["Suburb - Incident"].value_counts().tail(20)
print(f"Bottom 20 Crime Suburbs\n{y18_19_bot20_crime_suburbs}\n")

#--------------------------------------------
#Crime Offence Count by Suburb and Crime Type (Level 3 description)
y18_19_suburb_crime_group=y18_19.groupby(["Suburb - Incident","Offence Level 3 Description"])
y18_19_suburb_crime_cat_count=y18_19_suburb_crime_group.count()["Offence count"]
y18_19_suburb_crime_cat_count
#Top crime and Bottom Crime offence count by Level 3 Ofence Type
print(f"TOP CRIME TYPE OFFENCE COUNT BY SUBURB\n{y18_19_suburb_crime_cat_count.nlargest(10)}\n")
print(f"BOTTOM CRIME TYPE OFFENCE COUNT BY SUBURB\n{y18_19_suburb_crime_cat_count.nsmallest(10)}\n")

Top 20 Crime Suburbs
ADELAIDE             1024
MORPHETT VALE         731
MURRAY BRIDGE         559
PORT LINCOLN          516
SALISBURY             511
MAWSON LAKES          509
WHYALLA NORRIE        483
PORT AUGUSTA          480
MOUNT GAMBIER         465
PARAFIELD GARDENS     460
DAVOREN PARK          449
PROSPECT              432
ELIZABETH             412
PARALOWIE             399
OAKLANDS PARK         385
WHYALLA STUART        385
SALISBURY NORTH       383
KILBURN               382
MODBURY               365
POORAKA               360
Name: Suburb - Incident, dtype: int64

Bottom 20 Crime Suburbs
VARSITY LAKES        1
BRADBURY             1
SWEDE FLAT           1
PORT KENNY           1
KYBYBOLITE           1
BLANCHE HARBOR       1
KONGAL               1
MINGBOOL             1
BLAKISTON            1
MANNANARIE           1
WALTOWA              1
DUDLEY EAST          1
DISMAL SWAMP         1
CALOMBA              1
MARAMA               1
CAURNAMONT           1
CHILPENUNDA          1
POLISH HILL RIVER    1
MUNDULLA WEST        1
SHERLOCK             1
Name: Suburb - Incident, dtype: int64

TOP CRIME TYPE OFFENCE COUNT BY SUBURB
Suburb - Incident  Offence Level 3 Description
ADELAIDE           Other theft                                362
                   Other property damage and environmental    319
MORPHETT VALE      Other property damage and environmental    223
                   Other theft                                222
SALISBURY          Other theft                                216
WHYALLA NORRIE     Other property damage and environmental    215
PORT AUGUSTA       Other property damage and environmental    214
SMITHFIELD         Other theft                                209
PORT LINCOLN       Other property damage and environmental    207
MAWSON LAKES       Other theft                                193
Name: Offence count, dtype: int64

BOTTOM CRIME TYPE OFFENCE COUNT BY SUBURB
Suburb - Incident  Offence Level 3 Description
ALDGATE            SCT - Residence                            1
ALDINGA            SCT - Residence                            1
ALFORD             SCT - Residence                            1
ALLENDALE EAST     Other property damage and environmental    1
                   Other theft                                1
                   Theft from motor vehicle                   1
ALLENDALE NORTH    Other theft                                1
ALMA               Other theft                                1
ALTONA             Other property damage and environmental    1
                   Other theft                                1
Name: Offence count, dtype: int64

In [27]:
#Financial Yr Dataframe: y19_20
## ANALYSIS OF LEVEL 3 CRIME TYPES (FOR ALL SUBURBS BY FINANCIAL YEAR) ####
y19_20

#ie. Out of the categories analysed in our project, these are the suburbs with the highest offence counts. 
y19_20_top20_crime_suburbs=y19_20["Suburb - Incident"].value_counts().head(20)
print(f"Top 20 Crime Suburbs\n{y19_20_top20_crime_suburbs}\n")
#BOTTOM 20 SUBURBS (CHRONOLOGICALLY) WITH HIGHEST CRIME RATES (OF THE FILTERED CATEGORIES GROUP IS ANALYSING)
#ie. Out of the categories analysed in our project, these are the suburbs with the lowest offence counts. 
y19_20_bot20_crime_suburbs=y19_20["Suburb - Incident"].value_counts().tail(20)
print(f"Bottom 20 Crime Suburbs\n{y19_20_bot20_crime_suburbs}\n")

#--------------------------------------------
#Crime Offence Count by Suburb and Crime Type (Level 3 description)
y19_20_suburb_crime_group=y19_20.groupby(["Suburb - Incident","Offence Level 3 Description"])
y19_20_suburb_crime_cat_count=y19_20_suburb_crime_group.count()["Offence count"]
y19_20_suburb_crime_cat_count
#Top crime and Bottom Crime offence count by Level 3 Ofence Type
print(f"TOP CRIME TYPE OFFENCE COUNT BY SUBURB\n{y19_20_suburb_crime_cat_count.nlargest(10)}\n")
print(f"BOTTOM CRIME TYPE OFFENCE COUNT BY SUBURB\n{y19_20_suburb_crime_cat_count.nsmallest(10)}\n")

Top 20 Crime Suburbs
ADELAIDE             1085
MORPHETT VALE         681
PORT LINCOLN          559
MOUNT GAMBIER         558
MURRAY BRIDGE         549
SALISBURY             544
MAWSON LAKES          537
PROSPECT              512
PORT AUGUSTA          508
WHYALLA NORRIE        498
DAVOREN PARK          461
PARAFIELD GARDENS     449
SMITHFIELD            434
PARALOWIE             428
KILBURN               427
WHYALLA STUART        408
ELIZABETH             407
SEATON                369
POORAKA               367
ELIZABETH SOUTH       364
Name: Suburb - Incident, dtype: int64

Bottom 20 Crime Suburbs
BOOKABIE              1
VIVONNE BAY           1
HYNAM                 1
YONGALA               1
PERNATTY              1
CRESCENT              1
LOWER INMAN VALLEY    1
STOCKYARD PLAIN       1
MOSQUITO HILL         1
LAKE PLAINS           1
HOPE FOREST           1
CEDUNA WATERS         1
PORT DAVIS            1
BUCKINGHAM            1
CALOOTE               1
BLAKISTON             1
BLACKFORD             1
THRINGTON             1
MOUNT WEDGE           1
GILLENTOWN            1
Name: Suburb - Incident, dtype: int64

TOP CRIME TYPE OFFENCE COUNT BY SUBURB
Suburb - Incident  Offence Level 3 Description
ADELAIDE           Other theft                                363
                   Other property damage and environmental    319
PORT AUGUSTA       Other property damage and environmental    224
MORPHETT VALE      Other property damage and environmental    222
PORT LINCOLN       Other property damage and environmental    211
MORPHETT VALE      Other theft                                209
SMITHFIELD         Other theft                                209
SALISBURY          Other theft                                204
WHYALLA NORRIE     Other property damage and environmental    199
MURRAY BRIDGE      Other property damage and environmental    195
Name: Offence count, dtype: int64

BOTTOM CRIME TYPE OFFENCE COUNT BY SUBURB
Suburb - Incident                       Offence Level 3 Description
ALDGATE                                 Theft/Illegal Use of MV        1
ALDINGA                                 Theft/Illegal Use of MV        1
ALICE SPRINGS                           Theft/Illegal Use of MV        1
ALLENDALE NORTH                         SCT - Residence                1
ANANGU PITJANTJATJARA YANKUNYTJATJARA   Other theft                    1
ANANGU PITJANTJATJARA YANKUNYTJATJATRA  Other theft                    1
ANGAS PLAINS                            Theft/Illegal Use of MV        1
ANGAS VALLEY                            Other theft                    1
ANGASTON                                SCT - Residence                1
                                        Theft/Illegal Use of MV        1
Name: Offence count, dtype: int64