In [1]:
pip install openpyxl

Requirement already satisfied: openpyxl in /Users/annabelcheong/opt/anaconda3/envs/PythonData/lib/python3.6/site-packages (3.0.6)
Requirement already satisfied: jdcal in /Users/annabelcheong/opt/anaconda3/envs/PythonData/lib/python3.6/site-packages (from openpyxl) (1.4.1)
Requirement already satisfied: et-xmlfile in /Users/annabelcheong/opt/anaconda3/envs/PythonData/lib/python3.6/site-packages (from openpyxl) (1.0.1)
Note: you may need to restart the kernel to use updated packages.

In [2]:
import pandas as pd

In [3]:
q32019 = "../housingcsv/2019q3.xlsx"
df1 = pd.read_excel(q32019,engine='openpyxl')
refine1 = df1.drop(['Sales\n3Q 2018', 'Median\n3Q 2018', 'Median\nChange'], axis=1)
refine1= refine1.rename(columns={'Sales\n3Q 2019': 'Sales Q3 2019', 'Median\nQ3 2019': 'Median Q3 2019'})
refine1

               City          Suburb  Sales Q3 2019  Median\n3Q 2019
0          ADELAIDE        ADELAIDE            4.0         775000.0
1          ADELAIDE  NORTH ADELAIDE           12.0        1170000.0
2    ADELAIDE HILLS         ALDGATE            9.0         697500.0
3    ADELAIDE HILLS          ASHTON            NaN              NaN
4    ADELAIDE HILLS    BASKET RANGE            NaN              NaN
..              ...             ...            ...              ...
474    WEST TORRENS       THEBARTON            2.0         673500.0
475    WEST TORRENS    TORRENSVILLE            6.0         651500.0
476    WEST TORRENS       UNDERDALE            4.0         515000.0
477    WEST TORRENS      WEST BEACH           13.0         780000.0
478    WEST TORRENS   WEST RICHMOND            6.0         427500.0

[479 rows x 4 columns]

In [4]:
q42019 = "../housingcsv/2019q4.xlsx"
df2 = pd.read_excel(q42019,engine='openpyxl')
refine2 = df2.drop(['Sales\n4Q 2018', 'Median\n4Q 2018', 'Median\nChange'], axis=1)
refine2 = refine2.rename(columns={'Sales\n4Q 2019':'Sales Q4 2019', 'Median\n4Q 2019': 'Median Q4 2019'})
refine2

               City          Suburb  Sales Q4 2019  Median Q4 2019
0          ADELAIDE        ADELAIDE            4.0        770117.0
1          ADELAIDE  NORTH ADELAIDE           10.0       1352500.0
2    ADELAIDE HILLS         ALDGATE           14.0        753250.0
3    ADELAIDE HILLS          ASHTON            NaN             NaN
4    ADELAIDE HILLS    BASKET RANGE            1.0        375000.0
..              ...             ...            ...             ...
474    WEST TORRENS       THEBARTON            2.0        752500.0
475    WEST TORRENS    TORRENSVILLE           15.0        670000.0
476    WEST TORRENS       UNDERDALE            7.0        601000.0
477    WEST TORRENS      WEST BEACH           11.0        811000.0
478    WEST TORRENS   WEST RICHMOND            NaN             NaN

[479 rows x 4 columns]

In [5]:
q12020 = "../housingcsv/2020q1.xlsx"
df3 = pd.read_excel(q12020,engine='openpyxl')
refine3 = df3.drop(['Sales\n1Q 2019', 'Median\n1Q 2019', 'Median\nChange'], axis=1)
refine3 = refine3.rename(columns={'Sales\n1Q 2020':'Sales Q1 2020', 'Median\n1Q 2020': 'Median Q1 2020'})
refine3

               City          Suburb  Sales Q1 2020  Median Q1 2020
0          ADELAIDE        ADELAIDE            6.0        810000.0
1          ADELAIDE  NORTH ADELAIDE           15.0       1360000.0
2    ADELAIDE HILLS         ALDGATE           10.0        797500.0
3    ADELAIDE HILLS          ASHTON            NaN             NaN
4    ADELAIDE HILLS    BASKET RANGE            NaN             NaN
..              ...             ...            ...             ...
474    WEST TORRENS       THEBARTON            2.0        745000.0
475    WEST TORRENS    TORRENSVILLE           10.0        653000.0
476    WEST TORRENS       UNDERDALE            9.0        660000.0
477    WEST TORRENS      WEST BEACH           15.0        872500.0
478    WEST TORRENS   WEST RICHMOND            3.0        462500.0

[479 rows x 4 columns]

In [6]:
q22020 = '../housingcsv/2020q2.xlsx'
df4 = pd.read_excel(q22020,engine='openpyxl')
refine4 = df4.drop(['Sales\n2Q 2019', 'Median\n2Q 2019', 'Median\nChange'], axis=1)
refine4 = refine4.rename(columns={'Sales\n2Q 2020': 'Sales Q2 2020', 'Median\n2Q 2020': 'Median Q2 2020'})
refine4

               City          Suburb  Sales Q2 2020  Median Q2 2020
0          ADELAIDE        ADELAIDE           11.0        850000.0
1          ADELAIDE  NORTH ADELAIDE            6.0        945000.0
2    ADELAIDE HILLS         ALDGATE            9.0        795000.0
3    ADELAIDE HILLS          ASHTON            NaN             NaN
4    ADELAIDE HILLS    BASKET RANGE            1.0        616000.0
..              ...             ...            ...             ...
474    WEST TORRENS       THEBARTON            2.0        795000.0
475    WEST TORRENS    TORRENSVILLE            8.0        662000.0
476    WEST TORRENS       UNDERDALE            6.0        630000.0
477    WEST TORRENS      WEST BEACH           10.0        932500.0
478    WEST TORRENS   WEST RICHMOND            5.0        525000.0

[479 rows x 4 columns]

In [7]:
merged1 = pd.merge(refine1,refine2)
merged2 = pd.merge(refine3,refine4)
final = pd.merge(merged1,merged2)
final = final.dropna(how='any')
final

,City,Suburb,Sales Q3 2019,Median\n3Q 2019,Sales Q4 2019,Median Q4 2019,Sales Q1 2020,Median Q1 2020,Sales Q2 2020,Median Q2 2020
0,ADELAIDE,ADELAIDE,4.0,775000.0,4.0,770117.0,6.0,810000.0,11.0,850000.0
1,ADELAIDE,NORTH ADELAIDE,12.0,1170000.0,10.0,1352500.0,15.0,1360000.0,6.0,945000.0
2,ADELAIDE HILLS,ALDGATE,9.0,697500.0,14.0,753250.0,10.0,797500.0,9.0,795000.0
5,ADELAIDE HILLS,BELAIR,18.0,629000.0,12.0,775505.5,13.0,775000.0,12.0,672500.0
7,ADELAIDE HILLS,BRIDGEWATER,20.0,505250.0,15.0,515000.0,13.0,505000.0,11.0,485000.0
...,...,...,...,...,...,...,...,...,...,...
473,WEST TORRENS,RICHMOND,15.0,546000.0,7.0,580000.0,5.0,520000.0,8.0,577500.0
474,WEST TORRENS,THEBARTON,2.0,673500.0,2.0,752500.0,2.0,745000.0,2.0,795000.0
475,WEST TORRENS,TORRENSVILLE,6.0,651500.0,15.0,670000.0,10.0,653000.0,8.0,662000.0
476,WEST TORRENS,UNDERDALE,4.0,515000.0,7.0,601000.0,9.0,660000.0,6.0,630000.0
477,WEST TORRENS,WEST BEACH,13.0,780000.0,11.0,811000.0,15.0,872500.0,10.0,932500.0

In [8]:
#Create column for value of propety prices by suburb for finanical year
new_col=[""]
final["y19_20_price"]=(final["Median\n3Q 2019"]+final["Median Q4 2019"]+final["Median Q1 2020"]+final["Median Q2 2020"])/4
final
y19_20_price=final
y19_20_price

,City,Suburb,Sales Q3 2019,Median\n3Q 2019,Sales Q4 2019,Median Q4 2019,Sales Q1 2020,Median Q1 2020,Sales Q2 2020,Median Q2 2020,y19_20_price
0,ADELAIDE,ADELAIDE,4.0,775000.0,4.0,770117.0,6.0,810000.0,11.0,850000.0,801279.250
1,ADELAIDE,NORTH ADELAIDE,12.0,1170000.0,10.0,1352500.0,15.0,1360000.0,6.0,945000.0,1206875.000
2,ADELAIDE HILLS,ALDGATE,9.0,697500.0,14.0,753250.0,10.0,797500.0,9.0,795000.0,760812.500
5,ADELAIDE HILLS,BELAIR,18.0,629000.0,12.0,775505.5,13.0,775000.0,12.0,672500.0,713001.375
7,ADELAIDE HILLS,BRIDGEWATER,20.0,505250.0,15.0,515000.0,13.0,505000.0,11.0,485000.0,502562.500
...,...,...,...,...,...,...,...,...,...,...,...
473,WEST TORRENS,RICHMOND,15.0,546000.0,7.0,580000.0,5.0,520000.0,8.0,577500.0,555875.000
474,WEST TORRENS,THEBARTON,2.0,673500.0,2.0,752500.0,2.0,745000.0,2.0,795000.0,741500.000
475,WEST TORRENS,TORRENSVILLE,6.0,651500.0,15.0,670000.0,10.0,653000.0,8.0,662000.0,659125.000
476,WEST TORRENS,UNDERDALE,4.0,515000.0,7.0,601000.0,9.0,660000.0,6.0,630000.0,601500.000
477,WEST TORRENS,WEST BEACH,13.0,780000.0,11.0,811000.0,15.0,872500.0,10.0,932500.0,849000.000

In [9]:
final.to_csv("y19_20_house.csv")

In [10]:
#Store variable for use in another ipynb
%store yr19_20_price

UsageError: Unknown variable 'yr19_20_price'