In [1]:
#The following are the finalised dataframe names for each of the five financial years 
#   adl15_16
#   adl16_17
#   adl17_18
#   adl18_19
#   adl19_20 

#the code used to create these dataframes can be found below

In [2]:
import pandas as pd

In [3]:
#Source the dataframe
y15_16 = pd.read_csv("../housingcsv/y15_16_house.csv")

In [2]:
#Collecting the average median price and total price for each city will require to split the above data frame into two parts ("sales" and "median") and then merging them together for the final data frame

#the below is how this is going to be achieved 

#Collect relevant columns from the source for sales and create a new dataframe 
dfsales1 = y15_16[[
    'City', 
    'Sales Q3 2015', 
    'Sales Q4 2015', 
    'Sales Q1 2016', 
    'Sales Q2 2016'
    ]]
#Perform the groupby function to collect all the unique cities 
groupedsales1 = dfsales1.groupby(by='City')
#The ".sum" will add the total sales for each city in each quarter 
sales_df1 = groupedsales1.sum([
    'Sales Q3 2015',
    'Sales Q4 2015', 
    'Sales Q1 2016', 
    'Sales Q2 2016'
    ])
#"sales_df1" is the variable assigned to the first dataframe of two 

#Collect the relevant columns for median price and create a new dataframe 
dfmedian1 = y15_16[[
    'City', 
    'Median Q3 2015', 
    'Median Q4 2015', 
    'Median Q1 2016', 
    'Median Q2 2016'
    ]]
#Perform the gorupby function to collect all the unique cities 
groupedmedian1 = dfmedian1.groupby(by='City')
#The ".mean" will find the median price for each city in each quarter 
median_df1 = groupedmedian1.mean([
    'Median Q3 2015', 
    'Median Q4 2015', 
    'Median Q1 2016', 
    'Median Q2'
    ])
#"median_df1" is the variable assigned to the second dataframe of two 

#Because the average was found from the median renaming the "median ___" columns to "average median ___" is a better label for the data 
median_df1 = median_df1.rename(columns={
    'Median Q3 2015': 'Average Median Q3 2015', 
    'Median Q4 2015': "Average Median Q4 2015", 
    'Median Q1 2016': "Average Median Q1 2016", 
    'Median Q2 2016': 'Average Median Q2 2016'
    })

#merge the two dataframes together to get the final result 
adl15_16 = pd.merge(sales_df1, median_df1, on='City')

NameError: name 'y15_16' is not defined

In [1]:
#The above code is repeated here for the y16_17 csv
y16_17 = pd.read_csv("../housingcsv/y16_17_house.csv")
dfsales2 = y16_17[['City', 'Sales Q3 2016', 'Sales Q4 2016', 'Sales Q1 2017', 'Sales Q2 2017']]
groupedsales2 = dfsales2.groupby(by='City')
sales_df2 = groupedsales2.sum(['Sales Q3 2016', 'Sales Q4 2016', 'Sales Q1 2017', 'Sales Q2 2017'])
dfmedian2 = y16_17[['City', 'Median\n3Q 2016', 'Median Q4 2016', 'Median Q1 2017', 'Median Q2 2017']]
groupedmedian2 = dfmedian2.groupby(by='City')
median_df2 = groupedmedian2.mean(['Median Q3 2016', 'Median Q4 2016', 'Median Q1 2017', 'Median Q2 2017'])
median_df2 = median_df2.rename(columns={'Median\n3Q 2016': 'Average Median Q3 2016', 'Median Q4 2016': "Average Median Q4 2016", 'Median Q1 2017': "Average Median Q1 2017", 'Median Q2 2017': 'Average Median Q2 2017'})
adl16_17 = pd.merge(sales_df2, median_df2, on='City')

NameError: name 'pd' is not defined

In [30]:
y17_18 = pd.read_csv("../housingcsv/y17_18_house.csv")
dfsales3 = y17_18[['City', 'Sales Q3 2017', 'Sales Q4 2017', 'Sales Q1 2018', 'Sales Q2 2018']]
groupedsales3 = dfsales3.groupby(by='City')
sales_df3 = groupedsales3.sum(['Sales Q3 2017', 'Sales Q4 2017', 'Sales Q1 2018', 'Sales Q2 2018'])
dfmedian3 = y17_18[['City', 'Median\n3Q 2017', 'Median Q4 2017', 'Median Q1 2018', 'Median Q2 2018']]
groupedmedian3 = dfmedian3.groupby(by='City')
median_df3 = groupedmedian3.mean(['Median\nQ3 2017', 'Median Q4 2017', 'Median Q1 2018', 'Median Q2 2018'])
median_df3 = median_df3.rename(columns={'Median\n3Q 2017': 'Average Median Q3 2017', 'Median Q4 2017': "Average Median Q4 2017", 'Median Q1 2018': "Average Median Q1 2018", 'Median Q2 2018': 'Average Median Q2 2018'})
adl17_18 = pd.merge(sales_df3, median_df3, on='City')

In [31]:
y18_19 = pd.read_csv("../housingcsv/y18_19_house.csv")
dfsales4 = y18_19[['City', 'Sales Q3 2018', 'Sales Q4 2018', 'Sales Q1 2019', 'Sales Q2 2019']]
groupedsales4 = dfsales4.groupby(by='City')
sales_df4 = groupedsales4.sum(['Sales Q3 2018', 'Sales Q4 2018', 'Sales Q1 2019', 'Sales Q2 2019'])
dfmedian4 = y18_19[['City', 'Median\n3Q 2018', 'Median Q4 2018', 'Median Q1 2019', 'Median Q2 2019']]
groupedmedian4 = dfmedian4.groupby(by='City')
median_df4 = groupedmedian4.mean(['Median\nQ3 2018', 'Median Q4 2018', 'Median Q1 2019', 'Median Q2 2019'])
median_df4 = median_df4.rename(columns={'Median\n3Q 2018': 'Average Median Q3 2018', 'Median Q4 2018': "Average Median Q4 2018", 'Median Q1 2019': "Average Median Q1 2019", 'Median Q2 2019': 'Average Median Q2 2019'})
adl18_19 = pd.merge(sales_df4, median_df4, on='City')

In [5]:
y19_20 = pd.read_csv("../housingcsv/y19_20_house.csv")
dfsales5 = y19_20[['City', 'Sales Q3 2019', 'Sales Q4 2019', 'Sales Q1 2020', 'Sales Q2 2020']]
groupedsales5 = dfsales5.groupby(by='City')
sales_df5 = groupedsales5.sum(['Sales Q3 2019', 'Sales Q4 2019', 'Sales Q1 2020', 'Sales Q2 2020'])
dfmedian5 = y19_20[['City', 'Median\n3Q 2019', 'Median Q4 2019', 'Median Q1 2020', 'Median Q2 2020']]
groupedmedian5 = dfmedian5.groupby(by='City')
median_df5 = groupedmedian5.mean(['Median\nQ3 2019', 'Median Q4 2019', 'Median Q1 2020', 'Median Q2 2020'])
median_df4 = median_df4.rename(columns={'Median\n3Q 2019': 'Average Median Q3 2019', 'Median Q4 2019': "Average Median Q4 2019", 'Median Q1 2020': "Average Median Q1 2020", 'Median Q2 2020': 'Average Median Q2 2020'})
adl19_20 = pd.merge(sales_df4, median_df4, on='City')

TypeError: f() takes 1 positional argument but 2 were given

In [36]:
#creating csv files for the finalised data 
adl15_16.to_csv("adl15_16.csv")
adl16_17.to_csv("adl16_17.csv")
adl17_18.to_csv("adl17_18.csv")
adl18_19.to_csv("adl18_19.csv")
adl19_20.to_csv("adl19_20.csv")